In [1]:
# import neccessary libraries
import numpy as np
import pandas as pd
#import seaborn as sns
#import plotly

In [2]:
# load all numerical sheets
country = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX',skiprows=lambda x: x in range(14),usecols='A:L')
table1 = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1',skiprows=lambda x: x in range(15),usecols='A:W')
table2 = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2',skiprows=lambda x: x in range(15),usecols='A:V')
table3 = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3',skiprows=lambda x: x in range(15),usecols='A:W')
table4 = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4',skiprows=lambda x: x in range(15),usecols='A:K')
table5 = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5',skiprows=lambda x: x in range(15),usecols='A:T')
table6 = pd.read_excel('UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6',skiprows=lambda x: x in range(15),usecols='A:V')

In [3]:
country.columns

Index(['Country code', 'Country or area', 'Sort order', 'Major area', 'Code',
       'Sort order.1', 'Region', 'Code.1', 'Sort order.2', 'Developed region',
       'Least developed country', 'Sub-Saharan Africa'],
      dtype='object')

In [4]:
country_list = country[['Country code', 'Country or area',  'Major area', 'Code',
       'Region', 'Code.1', 'Developed region',
       'Least developed country', 'Sub-Saharan Africa']]
country_list.columns=['Country code', 'Country or area',  'Major area', 'Major area code',
       'Region', 'Region code', 'Developed region',
       'Least developed country', 'Sub-Saharan Africa']

In [5]:
# rename variables to make further data cleaning process easier
table1.rename(columns = {'Unnamed: 0': "Sort order",
                     'Unnamed: 1':"Country or area",
                      'Unnamed: 2':"Notes",
                      'Unnamed: 3':"Country code",
                      'Unnamed: 4':"Type of data",
                        1990:'1990',
                        1995:'1995',
                        2000:'2000',
                        2005:'2005',
                        2010:'2010',
                        2015:'2015'},
                                 inplace = True)
table2.rename(columns = {'Unnamed: 0': "Sort order",
                     'Unnamed: 1':"Country or area",
                      'Unnamed: 2':"Notes",
                      'Unnamed: 3':"Country code",
                        1990:'1990',
                        1995:'1995',
                        2000:'2000',
                        2005:'2005',
                        2010:'2010',
                        2015:'2015'},
                                 inplace = True)
table3.rename(columns = {'Unnamed: 0': "Sort order",
                     'Unnamed: 1':"Country or area",
                      'Unnamed: 2':"Notes",
                      'Unnamed: 3':"Country code",
                      'Unnamed: 4':"Type of data",
                        1990:'1990',
                        1995:'1995',
                        2000:'2000',
                        2005:'2005',
                        2010:'2010',
                        2015:'2015'},
                                 inplace = True)
table4.rename(columns = {'Unnamed: 0': "Sort order",
                     'Unnamed: 1':"Country or area",
                      'Unnamed: 2':"Notes",
                      'Unnamed: 3':"Country code",
                      'Unnamed: 4':"Type of data",
                        1990:'1990',
                        1995:'1995',
                        2000:'2000',
                        2005:'2005',
                        2010:'2010',
                        2015:'2015'},
                                 inplace = True)
table5.rename(columns = {'Unnamed: 0': "Sort order",
                     'Unnamed: 1':"Country or area",
                      'Unnamed: 2':"Notes",
                      'Unnamed: 3':"Country code",
                      'Unnamed: 4':"Type of data"},
                                 inplace = True)
table6.rename(columns = {'Unnamed: 0': "Sort order",
                     'Unnamed: 1':"Country or area",
                      'Unnamed: 2':"Notes",
                      'Unnamed: 3':"Country code",
                      'Unnamed: 4':"Type of data",
                        1990:'1990',
                        1995:'1995',
                        2000:'2000',
                        2005:'2005',
                        2010:'2010',
                        2015:'2015'},
                                 inplace = True)

In [6]:
# table 1 cleaning process
table11 = table1[["Country or area", '1990','1995','2000','2005','2010','2015']]
tidy11 = table11.melt(id_vars = "Country or area", var_name = "Year", value_name = "Migrant_stock")
tidy11['Gender'] = 'All'

table12 = table1[["Country or area", '1990.1','1995.1','2000.1','2005.1','2010.1','2015.1']]
table12.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy12 = table12.melt(id_vars = "Country or area", var_name = "Year", value_name = "Migrant_stock")
tidy12['Gender'] = 'Male'

table13 = table1[["Country or area", '1990.2','1995.2','2000.2','2005.2','2010.2','2015.2']]
table13.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy13 = table13.melt(id_vars = "Country or area", var_name = "Year", value_name = "Migrant_stock")
tidy13['Gender'] = 'Female'

tidy1_inter = pd.concat([tidy11,tidy12,tidy13])
tidy1 = pd.merge(country_list,tidy1_inter,  how='left',on=['Country or area'])

In [7]:
# table 2 cleaning process
table21 = table2[["Country or area", '1990','1995','2000','2005','2010','2015']]
tidy21 = table21.melt(id_vars = "Country or area", var_name = "Year", value_name = "Population")
tidy21['Gender'] = 'All'

table22 = table2[["Country or area", '1990.1','1995.1','2000.1','2005.1','2010.1','2015.1']]
table22.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy22 = table22.melt(id_vars = "Country or area", var_name = "Year", value_name = "Population")
tidy22['Gender'] = 'Male'

table23 = table2[["Country or area", '1990.2','1995.2','2000.2','2005.2','2010.2','2015.2']]
table23.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy23 = table23.melt(id_vars = "Country or area", var_name = "Year", value_name = "Population")
tidy23['Gender'] = 'Female'

tidy2_inter = pd.concat([tidy21,tidy22,tidy23])
tidy2 = pd.merge(tidy1,tidy2_inter,  how='outer',on=['Country or area','Gender','Year'])

In [8]:
# table 3 cleaning process
table31 = table3[["Country or area", '1990','1995','2000','2005','2010','2015']]
tidy31 = table31.melt(id_vars = "Country or area", var_name = "Year", value_name = "Mig2pop")
tidy31['Gender'] = 'All'

table32 = table3[["Country or area", '1990.1','1995.1','2000.1','2005.1','2010.1','2015.1']]
table32.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy32 = table32.melt(id_vars = "Country or area", var_name = "Year", value_name = "Mig2pop")
tidy32['Gender'] = 'Male'

table33 = table3[["Country or area", '1990.2','1995.2','2000.2','2005.2','2010.2','2015.2']]
table33.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy33 = table33.melt(id_vars = "Country or area", var_name = "Year", value_name = "Mig2pop")
tidy33['Gender'] = 'Female'

tidy3_inter = pd.concat([tidy31,tidy32,tidy33])
tidy3 = pd.merge(tidy2,tidy3_inter,  how='outer',on=['Country or area','Gender','Year'])

In [9]:
# table 4 cleaning process
table41 = table4[["Country or area", '1990','1995','2000','2005','2010','2015']]
tidy41 = table41.melt(id_vars = "Country or area", var_name = "Year", value_name = "Gender_prop")
tidy41['Gender_prop'] = 100
tidy41['Gender'] = 'All'

table42 = table4[["Country or area", '1990','1995','2000','2005','2010','2015']]
tidy42 = table42.melt(id_vars = "Country or area", var_name = "Year", value_name = "Gender_prop_inter")
tidy42['Gender_prop'] = 100-pd.to_numeric(tidy42['Gender_prop_inter'], errors='coerce')
tidy42_inter = tidy42[['Country or area','Year','Gender_prop']]
tidy42_inter['Gender'] = 'Male'

table43 = table4[["Country or area", '1990','1995','2000','2005','2010','2015']]
tidy43 = table43.melt(id_vars = "Country or area", var_name = "Year", value_name = "Gender_prop")
tidy43['Gender'] = 'Female'

tidy4_inter = pd.concat([tidy41,tidy42_inter,tidy43])
tidy4 = pd.merge(tidy3,tidy4_inter,  how='outer',on=['Country or area','Gender','Year'])

In [10]:
# table 5 cleaning process
table51 = table5[["Country or area", '1990-1995', '1995-2000', '2000-2005', '2005-2010',
       '2010-2015']]
table51.columns = ["Country or area", '1990','1995','2000','2005','2010']
tidy51 = table51.melt(id_vars = "Country or area", var_name = "Year", value_name = "Mig_sto_rate")
tidy51['Gender'] = 'All'

table52 = table5[["Country or area", '1990-1995.1', '1995-2000.1', '2000-2005.1', '2005-2010.1',
       '2010-2015.1']]
table52.columns = ["Country or area", '1990','1995','2000','2005','2010']
tidy52 = table52.melt(id_vars = "Country or area", var_name = "Year", value_name = "Mig_sto_rate")
tidy52['Gender'] = 'Male'

table53 = table5[["Country or area", '1990-1995.2', '1995-2000.2', '2000-2005.2',
       '2005-2010.2', '2010-2015.2']]
table53.columns = ["Country or area", '1990','1995','2000','2005','2010']
tidy53 = table53.melt(id_vars = "Country or area", var_name = "Year", value_name = "Mig_sto_rate")
tidy53['Gender'] = 'Female'

tidy5_inter = pd.concat([tidy51,tidy52,tidy53])
tidy5 = pd.merge(tidy4,tidy5_inter,  how='outer',on=['Country or area','Gender','Year'])

In [11]:
# table 6 cleaning process
table61 = table6[["Country or area", '1990', '1995', '2000', '2005', '2010', '2015']]
table61.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy61 = table51.melt(id_vars = "Country or area", var_name = "Year", value_name = "Refugee")
tidy61['Gender'] = 'All'
tidy61_merge = pd.merge(tidy5,tidy61,  how='outer',on=['Country or area','Gender','Year'])

In [12]:
table62 = table6[["Country or area", '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1']]
table62.columns = ["Country or area", '1990','1995','2000','2005','2010','2015']
tidy62 = table62.melt(id_vars = "Country or area", var_name = "Year", value_name = "Refugee_prop")
tidy62['Gender'] = 'All'
tidy62_merge = pd.merge(tidy61_merge,tidy62,  how='outer',on=['Country or area','Gender','Year'])

In [13]:
table63 = table6[["Country or area", '1990-1995',
       '1995-2000', '2000-2005', '2005-2010', '2010-2015']]
table63.columns = ["Country or area", '1990','1995','2000','2005','2010']
tidy63 = table63.melt(id_vars = "Country or area", var_name = "Year", value_name = "Refugee_prop_rate")
tidy63['Gender'] = 'All'
tidy63_merge = pd.merge(tidy62_merge,tidy63,  how='outer',on=['Country or area','Gender','Year'])
# above are all cleaning process, from the midterm project

In [59]:
from datascience import *
#import matplotlib
#matplotlib.use('Agg', warn=False)
#%matplotlib inline
import matplotlib.pyplot as plt
#plots.style.use('fivethirtyeight')
#import warnings
#warnings.simplefilter(action="ignore", category=FutureWarning)

In [15]:
data = tidy63_merge
data.head()

,Country code,Country or area,Major area,Major area code,Region,Region code,Developed region,Least developed country,Sub-Saharan Africa,Year,Migrant_stock,Gender,Population,Mig2pop,Gender_prop,Mig_sto_rate,Refugee,Refugee_prop,Refugee_prop_rate
0,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,1990,57686,All,12067.57,0.478025,100,4.299812,4.299812,0.043338,128.99347
1,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,1995,71522,All,16772.522,0.426424,100,1.192711,1.192711,27.411146,..
2,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,2000,75917,All,19701.94,0.385328,100,2.794196,2.794196,0,..
3,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,2005,87300,All,24399.948,0.357788,100,3.160624,3.160624,0.036655,102.911692
4,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,2010,102246,All,27962.207,0.365658,100,26.37988,26.37988,6.292667,50.501739

In [82]:
# plot population distribution among the major area
data_popu = data[["Major area","Year","Gender","Population"]]
n = np.shape(data_popu)[0]
for i in range(n):
    if data_popu['Population'][i] == '..':
        data_popu['Population'][i] = np.nan
    else:
        data_popu['Population'][i] = float(data_popu['Population'][i])
data_popu_nona = data_popu.dropna()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [137]:
major_area = ['Africa','Asia','Europe','Latin America and the Caribbean','Northern America','Oceania']

In [150]:
year1990 = data_popu_nona.loc[data_popu_nona['Year']=='1990']
year1990 = year1990[['Major area', 'Gender','Population']]
year1990_A = year1990.loc[year1990['Gender']=='All']
year1990_F = year1990.loc[year1990['Gender']=='Female']
year1990_M = year1990.loc[year1990['Gender']=='Male']
year1990_A = year1990_A[['Major area','Population']]
year1990_F = year1990_F[['Major area','Population']]
year1990_M = year1990_M[['Major area','Population']]
sums_A = year1990_A.groupby(['Major area']).sum()
sums_F = year1990_F.groupby(['Major area']).sum()
sums_M = year1990_M.groupby(['Major area']).sum()
year1990_summary = pd.DataFrame({'Population_All':sums_A['Population'], 'Population_Female':sums_F['Population'],'Population_Male':sums_M['Population'], 'Major area':major_area})

In [151]:
year1995 = data_popu_nona.loc[data_popu_nona['Year']=='1995']
year1995 = year1995[['Major area', 'Gender','Population']]
year1995_A = year1995.loc[year1995['Gender']=='All']
year1995_F = year1995.loc[year1995['Gender']=='Female']
year1995_M = year1995.loc[year1995['Gender']=='Male']
year1995_A = year1995_A[['Major area','Population']]
year1995_F = year1995_F[['Major area','Population']]
year1995_M = year1995_M[['Major area','Population']]
sums_A = year1995_A.groupby(['Major area']).sum()
sums_F = year1995_F.groupby(['Major area']).sum()
sums_M = year1995_M.groupby(['Major area']).sum()
year1995_summary = pd.DataFrame({'Population_All':sums_A['Population'], 'Population_Female':sums_F['Population'],'Population_Male':sums_M['Population'], 'Major area':major_area})

In [152]:
year2000 = data_popu_nona.loc[data_popu_nona['Year']=='2000']
year2000 = year2000[['Major area', 'Gender','Population']]
year2000_A = year2000.loc[year2000['Gender']=='All']
year2000_F = year2000.loc[year2000['Gender']=='Female']
year2000_M = year2000.loc[year2000['Gender']=='Male']
year2000_A = year2000_A[['Major area','Population']]
year2000_F = year2000_F[['Major area','Population']]
year2000_M = year2000_M[['Major area','Population']]
sums_A = year2000_A.groupby(['Major area']).sum()
sums_F = year2000_F.groupby(['Major area']).sum()
sums_M = year2000_M.groupby(['Major area']).sum()
year2000_summary = pd.DataFrame({'Population_All':sums_A['Population'], 'Population_Female':sums_F['Population'],'Population_Male':sums_M['Population'], 'Major area':major_area})

In [153]:
year2005 = data_popu_nona.loc[data_popu_nona['Year']=='2005']
year2005 = year2005[['Major area', 'Gender','Population']]
year2005_A = year2005.loc[year2005['Gender']=='All']
year2005_F = year2005.loc[year2005['Gender']=='Female']
year2005_M = year2005.loc[year2005['Gender']=='Male']
year2005_A = year2005_A[['Major area','Population']]
year2005_F = year2005_F[['Major area','Population']]
year2005_M = year2005_M[['Major area','Population']]
sums_A = year2005_A.groupby(['Major area']).sum()
sums_F = year2005_F.groupby(['Major area']).sum()
sums_M = year2005_M.groupby(['Major area']).sum()
year2005_summary = pd.DataFrame({'Population_All':sums_A['Population'], 'Population_Female':sums_F['Population'],'Population_Male':sums_M['Population'], 'Major area':major_area})

In [154]:
year2010 = data_popu_nona.loc[data_popu_nona['Year']=='2010']
year2010 = year2010[['Major area', 'Gender','Population']]
year2010_A = year2010.loc[year2010['Gender']=='All']
year2010_F = year2010.loc[year2010['Gender']=='Female']
year2010_M = year2010.loc[year2010['Gender']=='Male']
year2010_A = year2010_A[['Major area','Population']]
year2010_F = year2010_F[['Major area','Population']]
year2010_M = year2010_M[['Major area','Population']]
sums_A = year2010_A.groupby(['Major area']).sum()
sums_F = year2010_F.groupby(['Major area']).sum()
sums_M = year2010_M.groupby(['Major area']).sum()
year2010_summary = pd.DataFrame({'Population_All':sums_A['Population'], 'Population_Female':sums_F['Population'],'Population_Male':sums_M['Population'], 'Major area':major_area})

In [155]:
year2015 = data_popu_nona.loc[data_popu_nona['Year']=='2015']
year2015 = year2015[['Major area', 'Gender','Population']]
year2015_A = year2015.loc[year2015['Gender']=='All']
year2015_F = year2015.loc[year2015['Gender']=='Female']
year2015_M = year2015.loc[year2015['Gender']=='Male']
year2015_A = year2015_A[['Major area','Population']]
year2015_F = year2015_F[['Major area','Population']]
year2015_M = year2015_M[['Major area','Population']]
sums_A = year2015_A.groupby(['Major area']).sum()
sums_F = year2015_F.groupby(['Major area']).sum()
sums_M = year2015_M.groupby(['Major area']).sum()
year2015_summary = pd.DataFrame({'Population_All':sums_A['Population'], 'Population_Female':sums_F['Population'],'Population_Male':sums_M['Population'], 'Major area':major_area})

In [157]:
pop1990 = Table().from_df(year1990_summary)
pop1995 = Table().from_df(year1995_summary)
pop2000 = Table().from_df(year2000_summary)
pop2005 = Table().from_df(year2005_summary)
pop2010 = Table().from_df(year2010_summary)
pop2015 = Table().from_df(year2015_summary)

In [159]:
pop1990.barh('Major area')
plt.savefig('pop1990.png',bbox_inches = 'tight')
pop1995.barh('Major area')
plt.savefig('pop1995.png',bbox_inches = 'tight')
pop2000.barh('Major area')
plt.savefig('pop2000.png',bbox_inches = 'tight')
pop2005.barh('Major area')
plt.savefig('pop2005.png',bbox_inches = 'tight')
pop2010.barh('Major area')
plt.savefig('pop2010.png',bbox_inches = 'tight')
pop2015.barh('Major area')
plt.savefig('pop2015.png',bbox_inches = 'tight')

In [161]:
# plot migrant stock distribution among the major area
data_migr = data[["Major area","Year","Gender","Migrant_stock"]]
n = np.shape(data_migr)[0]
for i in range(n):
    if data_migr['Migrant_stock'][i] == '..':
        data_migr['Migrant_stock'][i] = np.nan
    else:
        data_migr['Migrant_stock'][i] = float(data_migr['Migrant_stock'][i])
data_migr_nona = data_migr.dropna()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [165]:
year1990 = data_migr_nona.loc[data_migr_nona['Year']=='1990']
year1990 = year1990[['Major area', 'Gender','Migrant_stock']]
year1990_A = year1990.loc[year1990['Gender']=='All']
year1990_F = year1990.loc[year1990['Gender']=='Female']
year1990_M = year1990.loc[year1990['Gender']=='Male']
year1990_A = year1990_A[['Major area','Migrant_stock']]
year1990_F = year1990_F[['Major area','Migrant_stock']]
year1990_M = year1990_M[['Major area','Migrant_stock']]
sums_A = year1990_A.groupby(['Major area']).sum()
sums_F = year1990_F.groupby(['Major area']).sum()
sums_M = year1990_M.groupby(['Major area']).sum()
year1990_summary = pd.DataFrame({'Migrant_All':sums_A['Migrant_stock'], 'Migrant_Female':sums_F['Migrant_stock'],'Population_Male':sums_M['Migrant_stock'], 'Major area':major_area})

In [166]:
year1995 = data_migr_nona.loc[data_migr_nona['Year']=='1995']
year1995 = year1995[['Major area', 'Gender','Migrant_stock']]
year1995_A = year1995.loc[year1995['Gender']=='All']
year1995_F = year1995.loc[year1995['Gender']=='Female']
year1995_M = year1995.loc[year1995['Gender']=='Male']
year1995_A = year1995_A[['Major area','Migrant_stock']]
year1995_F = year1995_F[['Major area','Migrant_stock']]
year1995_M = year1995_M[['Major area','Migrant_stock']]
sums_A = year1995_A.groupby(['Major area']).sum()
sums_F = year1995_F.groupby(['Major area']).sum()
sums_M = year1995_M.groupby(['Major area']).sum()
year1995_summary = pd.DataFrame({'Migrant_All':sums_A['Migrant_stock'], 'Migrant_Female':sums_F['Migrant_stock'],'Migrant_Male':sums_M['Migrant_stock'], 'Major area':major_area})

In [167]:
year2000 = data_migr_nona.loc[data_migr_nona['Year']=='2000']
year2000 = year2000[['Major area', 'Gender','Migrant_stock']]
year2000_A = year2000.loc[year2000['Gender']=='All']
year2000_F = year2000.loc[year2000['Gender']=='Female']
year2000_M = year2000.loc[year2000['Gender']=='Male']
year2000_A = year2000_A[['Major area','Migrant_stock']]
year2000_F = year2000_F[['Major area','Migrant_stock']]
year2000_M = year2000_M[['Major area','Migrant_stock']]
sums_A = year2000_A.groupby(['Major area']).sum()
sums_F = year2000_F.groupby(['Major area']).sum()
sums_M = year2000_M.groupby(['Major area']).sum()
year2000_summary = pd.DataFrame({'Migrant_All':sums_A['Migrant_stock'], 'Migrant_Female':sums_F['Migrant_stock'],'Migrant_Male':sums_M['Migrant_stock'], 'Major area':major_area})

In [168]:
year2005 = data_migr_nona.loc[data_migr_nona['Year']=='2005']
year2005 = year2005[['Major area', 'Gender','Migrant_stock']]
year2005_A = year2005.loc[year2005['Gender']=='All']
year2005_F = year2005.loc[year2005['Gender']=='Female']
year2005_M = year2005.loc[year2005['Gender']=='Male']
year2005_A = year2005_A[['Major area','Migrant_stock']]
year2005_F = year2005_F[['Major area','Migrant_stock']]
year2005_M = year2005_M[['Major area','Migrant_stock']]
sums_A = year2005_A.groupby(['Major area']).sum()
sums_F = year2005_F.groupby(['Major area']).sum()
sums_M = year2005_M.groupby(['Major area']).sum()
year2005_summary = pd.DataFrame({'Migrant_All':sums_A['Migrant_stock'], 'Migrant_Female':sums_F['Migrant_stock'],'Migrant_Male':sums_M['Migrant_stock'], 'Major area':major_area})

In [169]:
year2010 = data_migr_nona.loc[data_migr_nona['Year']=='2010']
year2010 = year2010[['Major area', 'Gender','Migrant_stock']]
year2010_A = year2010.loc[year2010['Gender']=='All']
year2010_F = year2010.loc[year2010['Gender']=='Female']
year2010_M = year2010.loc[year2010['Gender']=='Male']
year2010_A = year2010_A[['Major area','Migrant_stock']]
year2010_F = year2010_F[['Major area','Migrant_stock']]
year2010_M = year2010_M[['Major area','Migrant_stock']]
sums_A = year2010_A.groupby(['Major area']).sum()
sums_F = year2010_F.groupby(['Major area']).sum()
sums_M = year2010_M.groupby(['Major area']).sum()
year2010_summary = pd.DataFrame({'Migrant_All':sums_A['Migrant_stock'], 'Migrant_Female':sums_F['Migrant_stock'],'Migrant_Male':sums_M['Migrant_stock'], 'Major area':major_area})

In [170]:
year2015 = data_migr_nona.loc[data_migr_nona['Year']=='2015']
year2015 = year2015[['Major area', 'Gender','Migrant_stock']]
year2015_A = year2015.loc[year2015['Gender']=='All']
year2015_F = year2015.loc[year2015['Gender']=='Female']
year2015_M = year2015.loc[year2015['Gender']=='Male']
year2015_A = year2015_A[['Major area','Migrant_stock']]
year2015_F = year2015_F[['Major area','Migrant_stock']]
year2015_M = year2015_M[['Major area','Migrant_stock']]
sums_A = year2015_A.groupby(['Major area']).sum()
sums_F = year2015_F.groupby(['Major area']).sum()
sums_M = year2015_M.groupby(['Major area']).sum()
year2015_summary = pd.DataFrame({'Migrant_All':sums_A['Migrant_stock'], 'Migrant_Female':sums_F['Migrant_stock'],'Migrant_Male':sums_M['Migrant_stock'], 'Major area':major_area})

In [172]:
mig1990 = Table().from_df(year1990_summary)
mig1995 = Table().from_df(year1995_summary)
mig2000 = Table().from_df(year2000_summary)
mig2005 = Table().from_df(year2005_summary)
mig2010 = Table().from_df(year2010_summary)
mig2015 = Table().from_df(year2015_summary)

In [173]:
mig1990.barh('Major area')
plt.savefig('mig1990.png',bbox_inches = 'tight')
mig1995.barh('Major area')
plt.savefig('mig1995.png',bbox_inches = 'tight')
mig2000.barh('Major area')
plt.savefig('mig2000.png',bbox_inches = 'tight')
mig2005.barh('Major area')
plt.savefig('mig2005.png',bbox_inches = 'tight')
mig2010.barh('Major area')
plt.savefig('mig2010.png',bbox_inches = 'tight')
mig2015.barh('Major area')
plt.savefig('mig2015.png',bbox_inches = 'tight')

/opt/homebrew/anaconda3/lib/python3.8/site-packages/datascience/tables.py:4690: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  _, axis = plt.subplots(figsize=(width, height))

In [174]:
data

,Country code,Country or area,Major area,Major area code,Region,Region code,Developed region,Least developed country,Sub-Saharan Africa,Year,Migrant_stock,Gender,Population,Mig2pop,Gender_prop,Mig_sto_rate,Refugee,Refugee_prop,Refugee_prop_rate
0,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,1990,57686,All,12067.57,0.478025,100,4.299812,4.299812,0.043338,128.99347
1,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,1995,71522,All,16772.522,0.426424,100,1.192711,1.192711,27.411146,..
2,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,2000,75917,All,19701.94,0.385328,100,2.794196,2.794196,0,..
3,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,2005,87300,All,24399.948,0.357788,100,3.160624,3.160624,0.036655,102.911692
4,4.0,Afghanistan,Asia,935.0,Southern Asia,5501.0,No,Yes,No,2010,102246,All,27962.207,0.365658,100,26.37988,26.37988,6.292667,50.501739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,NaN,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,Female,19624.181,20.899389,50.628215,NaN,NaN,NaN,NaN
4766,NaN,Australia and New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,Female,14308.441,27.697161,50.785972,NaN,NaN,NaN,NaN
4767,NaN,Melanesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,Female,4719.309,1.012479,43.598704,NaN,NaN,NaN,NaN
4768,NaN,Micronesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,Female,260.316,21.957544,49.372042,NaN,NaN,NaN,NaN
4769,NaN,Polynesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,Female,336.115,9.925472,46.257626,NaN,NaN,NaN,NaN

In [177]:
data_ref = data[["Major area","Year","Gender","Refugee"]]
n = np.shape(data_ref)[0]
for i in range(n):
    if data_ref['Refugee'][i] == '..':
        data_ref['Refugee'][i] = np.nan
    else:
        data_ref['Refugee'][i] = float(data_ref['Refugee'][i])
data_ref_nona = data_ref.dropna()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [179]:
data_ref_nona

     Major area  Year Gender   Refugee
0          Asia  1990    All  4.299812
1          Asia  1995    All  1.192711
2          Asia  2000    All  2.794196
3          Asia  2005    All  3.160624
4          Asia  2010    All  26.37988
...         ...   ...    ...       ...
4158     Africa  1990    All -7.480574
4159     Africa  1995    All -1.007503
4160     Africa  2000    All  -0.86458
4161     Africa  2005    All  0.262999
4162     Africa  2010    All  0.048948

[1145 rows x 4 columns]

In [180]:

data_ref_ = data_ref_nona[['Major area', 'Year', 'Refugee']]
data_ref1990 = data_ref_.loc[data_ref_['Year']=='1990']
data_ref1995 = data_ref_.loc[data_ref_['Year']=='1995']
data_ref2000 = data_ref_.loc[data_ref_['Year']=='2000']
data_ref2005 = data_ref_.loc[data_ref_['Year']=='2005']
data_ref2010 = data_ref_.loc[data_ref_['Year']=='2010']
data_ref1990 = data_ref1990[['Major area','Refugee']]
data_ref1995 = data_ref1995[['Major area','Refugee']]
data_ref2000 = data_ref2000[['Major area','Refugee']]
data_ref2005 = data_ref2005[['Major area','Refugee']]
data_ref2010 = data_ref2010[['Major area','Refugee']]

sums_1990 = data_ref1990.groupby(['Major area']).sum()
sums_1995 = data_ref1995.groupby(['Major area']).sum()
sums_2000 = data_ref2000.groupby(['Major area']).sum()
sums_2005 = data_ref2005.groupby(['Major area']).sum()
sums_2010 = data_ref2010.groupby(['Major area']).sum()
data_ref_summary = pd.DataFrame({'Refugee_1990':sums_1990['Refugee'], 'Refugee_1995':sums_1995['Refugee'],'Refugee_2000':sums_2000['Refugee'], 'Refugee_2005':sums_2005['Refugee'], 'Refugee_2010':sums_2010['Refugee'],'Major area':major_area})

In [181]:
data_ref_table = Table().from_df(data_ref_summary)
data_ref_table.barh('Major area')
plt.savefig('refugee.png',bbox_inches = 'tight')