# Midterm Assignment
## Xinxuan Lin
### https://colab.research.google.com/drive/1l_XpGTm7mItenh6x55717ZJK3LNoFmYD?usp=sharing

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import 6 sheets and remove the index column
un1 = pd.read_excel('/content/sample_data/UN_MigrantStockTotal_2015.xlsx', sheet_name=1, skiprows=14, header = [0,1], index_col= 0) 
un2 = pd.read_excel('/content/sample_data/UN_MigrantStockTotal_2015.xlsx', sheet_name=2, skiprows=14, header = [0,1], index_col= 0) 
un3 = pd.read_excel('/content/sample_data/UN_MigrantStockTotal_2015.xlsx', sheet_name=3, skiprows=14, header = [0,1], index_col= 0) 
un4 = pd.read_excel('/content/sample_data/UN_MigrantStockTotal_2015.xlsx', sheet_name=4, skiprows=14, header = [0,1], index_col= 0) 
un5 = pd.read_excel('/content/sample_data/UN_MigrantStockTotal_2015.xlsx', sheet_name=5, skiprows=14, header = [0,1], index_col= 0) 
un6 = pd.read_excel('/content/sample_data/UN_MigrantStockTotal_2015.xlsx', sheet_name=6, skiprows=14, header = [0,1], index_col= 0)

## Table 1

In [3]:
# remane the column name - change the header from multindex into single level
un1.columns = ['Major area, region, country or area of destination','Notes', 'Country code',  'Type of data (a)',
               'IMS Both 1990', 'IMS Both 1995', 'IMS Both 2000','IMS Both 2005', 'IMS Both 2010', 'IMS Both 2015',
               'IMS Male 1990', 'IMS Male 1995', 'IMS Male 2000','IMS Male 2005', 'IMS Male 2010', 'IMS Male 2015',
               'IMS Female 1990', 'IMS Female 1995', 'IMS Female 2000','IMS Female 2005', 'IMS Female 2010','IMS Female 2015']

In [4]:
# reorder the index of dataset and sava as new dataframe
un1_sort = un1.reset_index()

In [5]:
# rename the variable 'index' to 'sort order'
un1_sort = un1_sort.rename(columns={'index': 'Sort order'})
# Glimpse un1_sort
un1_sort.head(20)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),IMS Both 1990,IMS Both 1995,IMS Both 2000,IMS Both 2005,IMS Both 2010,...,IMS Male 2000,IMS Male 2005,IMS Male 2010,IMS Male 2015,IMS Female 1990,IMS Female 1995,IMS Female 2000,IMS Female 2005,IMS Female 2010,IMS Female 2015
0,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243,...,87884839,97866674,114613714,126115435,74815702,79064275,84818470,93402426,107100529,117584801
1,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325,...,50536796,57217777,64081077,67618619,42115231,47214055,52838567,59963332,68479248,72863336
2,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918,...,37348043,40648897,50532637,58496816,32700471,31850220,31979903,33439094,38621281,44721465
3,4,Least developed countries,(d),941,NaN,11075966,11711703,10077824,9809634,10018128,...,5361902,5383009,5462714,6463217,5236216,5573685,4721920,4432371,4560536,5493028
4,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,56778501,59244124,64272611,79130668,...,31986141,35265888,45069923,52033599,27464255,26276535,27257983,29006723,34060745,39228437
5,6,Sub-Saharan Africa,(e),947,NaN,14690319,15324570,13716539,13951086,15496764,...,7210452,7444048,8188581,10099486,6945013,7287746,6506087,6507038,7308183,8894500
6,7,Africa,NaN,903,NaN,15690623,16352814,14800306,15191146,16840014,...,7856358,8231437,9039314,11123423,7411059,7735883,6943948,6959709,7800700,9526134
7,8,Eastern Africa,NaN,910,NaN,5964031,5022742,4844795,4745792,4657063,...,2480584,2529460,2366216,3109176,2892842,2437689,2364211,2216332,2290847,3019937
8,9,Burundi,NaN,108,B R,333110,254853,125628,172874,235259,...,61094,84805,115823,141311,169843,130688,64534,88069,119436,145499
9,10,Comoros,NaN,174,B,14079,13939,13799,13209,12618,...,6511,6286,6060,6071,7362,7325,7288,6923,6558,6484
10,11,Djibouti,NaN,262,B R,122221,99774,100507,92091,101575,...,52920,51315,53295,59081,57979,47298,47587,40776,48280,53270
11,12,Eritrea,NaN,232,I,11848,12400,12952,14314,15676,...,6856,7729,8603,8833,5620,5858,6096,6585,7073,7108
12,13,Ethiopia,NaN,231,B R,1155390,806904,611384,514242,567720,...,322219,269725,297534,547062,548106,382787,289165,244517,270186,525887
13,14,Kenya,NaN,404,B R,297292,618745,699139,756894,926959,...,348594,391310,459343,541644,136440,296556,350545,365584,467616,542713
14,15,Madagascar,NaN,450,C,23917,21177,23541,26058,28905,...,13276,14744,16410,18270,10569,9276,10265,11314,12495,13805
15,16,Malawi,NaN,454,B R,1127724,241624,232620,221661,217722,...,111530,105931,103869,102544,581204,125426,121090,115730,113853,112614
16,17,Mauritius,(1),480,C,3613,7493,15543,19647,24836,...,5705,8943,13188,15832,1850,4265,9838,10704,11648,12753
17,18,Mayotte,NaN,175,B,15229,26316,45474,63176,72757,...,23546,31364,34500,35623,6449,11637,21928,31812,38257,41369
18,19,Mozambique,NaN,508,B R,122332,168256,195702,204830,214612,...,103175,102500,104676,107955,56272,77046,92527,102330,109936,114973
19,20,RÃ©union,NaN,638,B,57210,77159,100678,115076,123029,...,52264,59196,62707,64537,26486,36449,48414,55880,60322,62672

In [6]:
# Problem: sex and year of IMS are values but they are not stored in the cells
# Tidy data Principle 1: Each variable must have its own column.
# The sex identification and year should be move to cell instead of in header
un1_sy = un1_sort.melt(id_vars=["Sort order","Major area, region, country or area of destination", "Notes", 'Country code',  'Type of data (a)'], 
                       var_name=["IMS"],value_name="International migrant stock at mid-year")

# glimpse un1_sy
un1_sy.head(20)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),IMS,International migrant stock at mid-year
0,1,WORLD,NaN,900,NaN,IMS Both 1990,152563212
1,2,Developed regions,(b),901,NaN,IMS Both 1990,82378628
2,3,Developing regions,(c),902,NaN,IMS Both 1990,70184584
3,4,Least developed countries,(d),941,NaN,IMS Both 1990,11075966
4,5,Less developed regions excluding least develop...,NaN,934,NaN,IMS Both 1990,59105261
5,6,Sub-Saharan Africa,(e),947,NaN,IMS Both 1990,14690319
6,7,Africa,NaN,903,NaN,IMS Both 1990,15690623
7,8,Eastern Africa,NaN,910,NaN,IMS Both 1990,5964031
8,9,Burundi,NaN,108,B R,IMS Both 1990,333110
9,10,Comoros,NaN,174,B,IMS Both 1990,14079
10,11,Djibouti,NaN,262,B R,IMS Both 1990,122221
11,12,Eritrea,NaN,232,I,IMS Both 1990,11848
12,13,Ethiopia,NaN,231,B R,IMS Both 1990,1155390
13,14,Kenya,NaN,404,B R,IMS Both 1990,297292
14,15,Madagascar,NaN,450,C,IMS Both 1990,23917
15,16,Malawi,NaN,454,B R,IMS Both 1990,1127724
16,17,Mauritius,(1),480,C,IMS Both 1990,3613
17,18,Mayotte,NaN,175,B,IMS Both 1990,15229
18,19,Mozambique,NaN,508,B R,IMS Both 1990,122332
19,20,RÃ©union,NaN,638,B,IMS Both 1990,57210

In [7]:
# Problem: In IMS column, two variables (sex, year) are stored in one cell
# Violates Tidydata Principle 1: each column should have a unique variable
# Separate the sex identification and year into two columns
un1_sy = (un1_sy.assign(Year = lambda x: x.IMS.str[-4:],
                        Sex = lambda x: x.IMS.str[4:-4]).drop("IMS",axis=1))

# view the dataset
un1_sy.head(20)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),International migrant stock at mid-year,Year,Sex
0,1,WORLD,NaN,900,NaN,152563212,1990,Both
1,2,Developed regions,(b),901,NaN,82378628,1990,Both
2,3,Developing regions,(c),902,NaN,70184584,1990,Both
3,4,Least developed countries,(d),941,NaN,11075966,1990,Both
4,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,1990,Both
5,6,Sub-Saharan Africa,(e),947,NaN,14690319,1990,Both
6,7,Africa,NaN,903,NaN,15690623,1990,Both
7,8,Eastern Africa,NaN,910,NaN,5964031,1990,Both
8,9,Burundi,NaN,108,B R,333110,1990,Both
9,10,Comoros,NaN,174,B,14079,1990,Both
10,11,Djibouti,NaN,262,B R,122221,1990,Both
11,12,Eritrea,NaN,232,I,11848,1990,Both
12,13,Ethiopia,NaN,231,B R,1155390,1990,Both
13,14,Kenya,NaN,404,B R,297292,1990,Both
14,15,Madagascar,NaN,450,C,23917,1990,Both
15,16,Malawi,NaN,454,B R,1127724,1990,Both
16,17,Mauritius,(1),480,C,3613,1990,Both
17,18,Mayotte,NaN,175,B,15229,1990,Both
18,19,Mozambique,NaN,508,B R,122332,1990,Both
19,20,RÃ©union,NaN,638,B,57210,1990,Both

In [8]:
# Rearrange the order of columns
un1_order = un1_sy[['Sort order', 
                    'Major area, region, country or area of destination',
                    'Notes',
                    'Country code',
                    'Type of data (a)',
                    'Year',
                    'Sex',
                    'International migrant stock at mid-year']]

# view the dataset
un1_order.head(20)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
0,1,WORLD,NaN,900,NaN,1990,Both,152563212
1,2,Developed regions,(b),901,NaN,1990,Both,82378628
2,3,Developing regions,(c),902,NaN,1990,Both,70184584
3,4,Least developed countries,(d),941,NaN,1990,Both,11075966
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,Both,59105261
5,6,Sub-Saharan Africa,(e),947,NaN,1990,Both,14690319
6,7,Africa,NaN,903,NaN,1990,Both,15690623
7,8,Eastern Africa,NaN,910,NaN,1990,Both,5964031
8,9,Burundi,NaN,108,B R,1990,Both,333110
9,10,Comoros,NaN,174,B,1990,Both,14079
10,11,Djibouti,NaN,262,B R,1990,Both,122221
11,12,Eritrea,NaN,232,I,1990,Both,11848
12,13,Ethiopia,NaN,231,B R,1990,Both,1155390
13,14,Kenya,NaN,404,B R,1990,Both,297292
14,15,Madagascar,NaN,450,C,1990,Both,23917
15,16,Malawi,NaN,454,B R,1990,Both,1127724
16,17,Mauritius,(1),480,C,1990,Both,3613
17,18,Mayotte,NaN,175,B,1990,Both,15229
18,19,Mozambique,NaN,508,B R,1990,Both,122332
19,20,RÃ©union,NaN,638,B,1990,Both,57210

In [9]:
# IMS has missing values in form of ".."
# Replace the missing value with 0 to consistent with the variable typle
un1_order.replace(to_replace="..",
           value=0, inplace = True)

### Separate the area columns.

In [10]:
# Problem: In Major area, region, country or area of destination column, there are inclusive relationship between location -- some values are regions, whereas some are countries
# Violates the Tidydata Principle 1: Each column must have a unique variable.

# separate the area columns based on its size
# filter out Major area rows and save it as a new dataframe
un1_ma = un1_order.loc[un1_order["Major area, region, country or area of destination"].
                       isin(['Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America'])]
          

# Rename the area column as Major area
un1_ma = un1_ma.rename(columns={'Major area, region, country or area of destination': 'Major area'})

In [11]:
# Glimpse the dataset
un1_ma.head(10)

,Sort order,Major area,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
6,7,Africa,NaN,903,NaN,1990,Both,15690623
70,71,Asia,NaN,935,NaN,1990,Both,48142261
126,127,Europe,NaN,908,NaN,1990,Both,49219200
179,180,Latin America and the Caribbean,NaN,904,NaN,1990,Both,7169728
231,232,Northern America,NaN,905,NaN,1990,Both,27610542
237,238,Oceania,NaN,909,NaN,1990,Both,4730858
271,7,Africa,NaN,903,NaN,1995,Both,16352814
335,71,Asia,NaN,935,NaN,1995,Both,46548225
391,127,Europe,NaN,908,NaN,1995,Both,52842663
444,180,Latin America and the Caribbean,NaN,904,NaN,1995,Both,6694640

In [12]:
# Filter out region
# Northern America is indicated as one of the main region
un1_reg = un1_order.loc[un1_order["Major area, region, country or area of destination"].
                       isin(['Eastern Africa','Middle Africa', 'Northern Africa','Southern Africa','Western Africa', 
                              'Central Asia','Eastern Asia','South-Eastern Asia','Southern Asia','Western Asia',
                             'Eastern Europe','Northern Europe','Southern Europe', 'Western Europe',
                             'Caribbean','Central America','South America',
                             'Australia and New Zealand','Melanesia', 'Micronesia','Polynesia'
                              ])]

# Rename the are column as Region
un1_reg = un1_reg.rename(columns={'Major area, region, country or area of destination': 'Region'})

In [13]:
# Glimpse the dataset
un1_reg.head()

,Sort order,Region,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
7,8,Eastern Africa,NaN,910,NaN,1990,Both,5964031
28,29,Middle Africa,NaN,911,NaN,1990,Both,1460530
38,39,Northern Africa,NaN,912,NaN,1990,Both,2403200
46,47,Southern Africa,NaN,913,NaN,1990,Both,1392359
52,53,Western Africa,NaN,914,NaN,1990,Both,4470503

In [14]:
# Filter out the country and other area
un1_coun = un1_order.loc[~un1_order["Major area, region, country or area of destination"].
                       isin(['WORLD', 
                             'Developed regions', 'Developing regions',
                             'Least developed countries','Less developed regions excluding least developed countries',
                             'Sub-Saharan Africa',
                             'Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America',
                             'Southern Asia', 'Southern Europe', 'Northern Africa', 'Polynesia',
                              'Middle Africa', 'Caribbean', 'South America', 'Western Asia',
                              'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
                              'Central America', 'Western Africa', 'Northern America', 'Southern Africa',
                              'South-Eastern Asia', 'Eastern Africa', 'Northern Europe', 'Eastern Asia',
                              'Melanesia', 'Micronesia', 'Central Asia'])]

# Rename the area column as Country or area
un1_coun = un1_coun.rename(columns={'Major area, region, country or area of destination': 'Country or area'})

In [15]:
# Glimpse the dataset
un1_coun.head()

,Sort order,Country or area,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
8,9,Burundi,NaN,108,B R,1990,Both,333110
9,10,Comoros,NaN,174,B,1990,Both,14079
10,11,Djibouti,NaN,262,B R,1990,Both,122221
11,12,Eritrea,NaN,232,I,1990,Both,11848
12,13,Ethiopia,NaN,231,B R,1990,Both,1155390

In [16]:
# filter out world row
un1_world = un1_order.loc[un1_order["Major area, region, country or area of destination"] == 'WORLD']

# Rename the world coumn as World
un1_world = un1_world.rename(columns={'Major area, region, country or area of destination': 'Total'})

In [17]:
# Glimpse the dataset
un1_world.head()

,Sort order,Total,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
0,1,WORLD,NaN,900,NaN,1990,Both,152563212
265,1,WORLD,NaN,900,NaN,1995,Both,160801752
530,1,WORLD,NaN,900,NaN,2000,Both,172703309
795,1,WORLD,NaN,900,NaN,2005,Both,191269100
1060,1,WORLD,NaN,900,NaN,2010,Both,221714243

In [18]:
# filter out developing and developed rows
un1_dev = un1_order.loc[un1_order["Major area, region, country or area of destination"].
                       isin(['Developed regions','Developing regions'])]

# Rename the coumn as nation
un1_dev = un1_dev.rename(columns={'Major area, region, country or area of destination': 'Nation'})

In [19]:
# Glimpse the dataset
un1_dev.head()

,Sort order,Nation,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
1,2,Developed regions,(b),901,NaN,1990,Both,82378628
2,3,Developing regions,(c),902,NaN,1990,Both,70184584
266,2,Developed regions,(b),901,NaN,1995,Both,92306854
267,3,Developing regions,(c),902,NaN,1995,Both,68494898
531,2,Developed regions,(b),901,NaN,2000,Both,103375363

In [20]:
# filter out two least developed groups under developing regions
un1_least = un1_order.loc[un1_order["Major area, region, country or area of destination"].
                       isin(['Least developed countries','Less developed regions excluding least developed countries'])]

# Rename the coumn as nation
un1_least = un1_least.rename(columns={'Major area, region, country or area of destination': 'Separation in developing regions'})

In [21]:
# Glimpse the dataset
un1_least.head()

,Sort order,Separation in developing regions,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
3,4,Least developed countries,(d),941,NaN,1990,Both,11075966
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,Both,59105261
268,4,Least developed countries,(d),941,NaN,1995,Both,11711703
269,5,Less developed regions excluding least develop...,NaN,934,NaN,1995,Both,56778501
533,4,Least developed countries,(d),941,NaN,2000,Both,10077824

In [22]:
# filter out Sub-Saharan Africa
un1_ssafrica = un1_order.loc[un1_order["Major area, region, country or area of destination"] == 'Sub-Saharan Africa']

# # Rename the coumn as Other Africa
un1_ssafrica = un1_ssafrica.rename(columns={'Major area, region, country or area of destination': 'Separation in Africa'})

In [23]:
# Glimpse the dataset
un1_ssafrica.head()

,Sort order,Separation in Africa,Notes,Country code,Type of data (a),Year,Sex,International migrant stock at mid-year
5,6,Sub-Saharan Africa,(e),947,NaN,1990,Both,14690319
270,6,Sub-Saharan Africa,(e),947,NaN,1995,Both,15324570
535,6,Sub-Saharan Africa,(e),947,NaN,2000,Both,13716539
800,6,Sub-Saharan Africa,(e),947,NaN,2005,Both,13951086
1065,6,Sub-Saharan Africa,(e),947,NaN,2010,Both,15496764

In [24]:
# merge all dataframe
un1_fin = pd.concat([un1_world, un1_dev, un1_least, un1_ssafrica, un1_ma, un1_reg, un1_coun]).reset_index()

# arrange the order of columns
un1_fin = un1_fin[['Sort order', 
                   'Total',
                   'Nation',
                   'Separation in developing regions',
                   'Separation in Africa',
                   'Major area',
                   'Region',
                   'Country or area',
                   'Notes',
                    'Country code',
                    'Type of data (a)',
                    'Year',
                    'Sex',
                    'International migrant stock at mid-year']]

In [25]:
# Remove unimportant columns: Notes, Type of data(a), and country code -- it is the same identication variable as sort order
un1_fin.drop(columns=['Notes','Type of data (a)','Country code'], inplace=True)

In [26]:
# Preview of dataset
un1_fin.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Sex,International migrant stock at mid-year
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Both,152563212
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Both,160801752
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Both,172703309
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Both,191269100
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Both,221714243
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Both,243700236
6,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Male,77747510
7,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Male,81737477
8,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Male,87884839
9,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Male,97866674
10,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Male,114613714
11,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Male,126115435
12,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Female,74815702
13,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Female,79064275
14,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Female,84818470
15,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Female,93402426
16,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Female,107100529
17,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Female,117584801
18,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,Both,82378628
19,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1990,Both,70184584

In [27]:
# Problem: there are more than one oberservational unit in the same table
# The dataset contains the geographic locations and international migrant stock per sex per year.
# Violate Tidydata principle 3: Each type of observational unit forms a table
# Separate the geographic location and IMS
# filter out the geographic location columns with sort order and country code
un1_finLocation = un1_fin.filter(["Sort order",'Total',
                   'Nation','Separation in developing regions',
                   'Separation in Africa',"Major area",'Region',
                   'Country or area']).drop_duplicates('Sort order').reset_index(drop=True)

# filter out the IMS and the associated year and sex.
un1_IMS_fin = un1_fin.filter(["Sort order", "Year", "Sex","International migrant stock at mid-year"])
un1_IMS_fin=un1_IMS_fin.sort_values(by=['Sort order','Sex']).reset_index(drop=True)

# view the dataset
un1_finLocation.head(15)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN

In [28]:
# Glimpse the IMS dataset
un1_IMS_fin.head(20)

    Sort order  Year      Sex  International migrant stock at mid-year
0            1  1990    Both                                 152563212
1            1  1995    Both                                 160801752
2            1  2000    Both                                 172703309
3            1  2005    Both                                 191269100
4            1  2010    Both                                 221714243
5            1  2015    Both                                 243700236
6            1  1990  Female                                  74815702
7            1  1995  Female                                  79064275
8            1  2000  Female                                  84818470
9            1  2005  Female                                  93402426
10           1  2010  Female                                 107100529
11           1  2015  Female                                 117584801
12           1  1990    Male                                  77747510
13           1  1995    Male                                  81737477
14           1  2000    Male                                  87884839
15           1  2005    Male                                  97866674
16           1  2010    Male                                 114613714
17           1  2015    Male                                 126115435
18           2  1990    Both                                  82378628
19           2  1995    Both                                  92306854






---

## **Table 2**

In [29]:
# remane the column name - change the header from multindex into single level
un2.columns = ['Major area, region, country or area of destination','Notes', 'Country code', 
               'TP Both 1990', 'TP Both 1995', 'TP Both 2000','TP Both 2005', 'TP Both 2010', 'TP Both 2015',
               'TP Male 1990', 'TP Male 1995', 'TP Male 2000','TP Male 2005', 'TP Male 2010', 'TP Male 2015',
               'TP Female 1990', 'TP Female 1995', 'TP Female 2000','TP Female 2005', 'TP Female 2010','TP Female 2015']

In [30]:
# reorder the index of dataset and sava as new dataframe, and rename the variable 'index' to 'sort order'
un2_sort = un2.reset_index().rename(columns={'index': 'Sort order'})

In [31]:
# Glimpse the dataset
un2_sort.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,TP Both 1990,TP Both 1995,TP Both 2000,TP Both 2005,TP Both 2010,TP Both 2015,...,TP Male 2000,TP Male 2005,TP Male 2010,TP Male 2015,TP Female 1990,TP Female 1995,TP Female 2000,TP Female 2005,TP Female 2010,TP Female 2015
0,1,WORLD,NaN,900,5309667.699,5735123.084,6126622.121,6519635.850,6929725.043,7349472.099,...,3084537.662,3285082.249,3493956.904,3707205.753,2639243.998,2848487.191,3042084.459,3234553.601,3435768.139,3642266.346
1,2,Developed regions,(b),901,1144463.062,1169761.211,1188811.731,1208919.509,1233375.711,1251351.086,...,578010.218,587962.213,599955.476,609297.148,589207.436,601492.755,610801.513,620957.296,633420.235,642053.938
2,3,Developing regions,(c),902,4165204.637,4565361.873,4937810.390,5310716.341,5696349.332,6098121.013,...,2506527.444,2697120.036,2894001.428,3097908.605,2050036.562,2246994.436,2431282.946,2613596.305,2802347.904,3000212.408
3,4,Least developed countries,(d),941,510057.629,585189.354,664386.087,752804.951,847254.847,954157.804,...,331482.475,375757.715,422397.532,476031.179,256015.073,293162.612,332903.612,377047.236,424857.315,478126.625
4,5,Less developed regions excluding least develop...,NaN,934,3655147.008,3980172.519,4273424.303,4557911.390,4849094.485,5143963.209,...,2175044.969,2321362.321,2471603.896,2621877.426,1794021.489,1953831.824,2098379.334,2236549.069,2377490.589,2522085.783

In [32]:
# Problem: sex and year of Total Population are values but they are not stored in the cells
# Tidy data Principle 1: Each variable must have its own column.
# The sex identification and year should be move to cell instead of in header
un2_sy = un2_sort.melt(id_vars=["Sort order","Major area, region, country or area of destination", "Notes", 'Country code'], 
                       var_name=["TP"],value_name="Total population at mid-year (thousands)")

In [33]:
# Glimpse the dataset
un2_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,TP,Total population at mid-year (thousands)
0,1,WORLD,NaN,900,TP Both 1990,5309667.699
1,2,Developed regions,(b),901,TP Both 1990,1144463.062
2,3,Developing regions,(c),902,TP Both 1990,4165204.637
3,4,Least developed countries,(d),941,TP Both 1990,510057.629
4,5,Less developed regions excluding least develop...,NaN,934,TP Both 1990,3655147.008

In [34]:
# Problem: In TP column, two variables (sex, year) are stored in one cell
# Violates Tidydata Principle 1: each column should have a unique variable

# Remove the first 2 letters, Separate the sex identification and year into two columns
un2_sy = (un2_sy.assign(Year = lambda x: x.TP.str[-4:],
                        Sex = lambda x: x.TP.str[3:-4]).drop("TP",axis=1))

In [35]:
# Glimpse the dataset
un2_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Total population at mid-year (thousands),Year,Sex
0,1,WORLD,NaN,900,5309667.699,1990,Both
1,2,Developed regions,(b),901,1144463.062,1990,Both
2,3,Developing regions,(c),902,4165204.637,1990,Both
3,4,Least developed countries,(d),941,510057.629,1990,Both
4,5,Less developed regions excluding least develop...,NaN,934,3655147.008,1990,Both

In [36]:
# Rearrange the order of columns
un2_order = un2_sy[['Sort order', 
                    'Major area, region, country or area of destination',
                    'Notes',
                    'Country code',
                    'Year',
                    'Sex',
                    'Total population at mid-year (thousands)']]
# Glimpse dataset
un2_order.head(10)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Year,Sex,Total population at mid-year (thousands)
0,1,WORLD,NaN,900,1990,Both,5309667.699
1,2,Developed regions,(b),901,1990,Both,1144463.062
2,3,Developing regions,(c),902,1990,Both,4165204.637
3,4,Least developed countries,(d),941,1990,Both,510057.629
4,5,Less developed regions excluding least develop...,NaN,934,1990,Both,3655147.008
5,6,Sub-Saharan Africa,(e),947,1990,Both,491497.691
6,7,Africa,NaN,903,1990,Both,631614.304
7,8,Eastern Africa,NaN,910,1990,Both,198231.687
8,9,Burundi,NaN,108,1990,Both,5613.141
9,10,Comoros,NaN,174,1990,Both,415.144

In [37]:
# TP has missing values in form of ".."
# Replace the missing value with 0 to consistent with the variable typle
un2_order.replace(to_replace="..",
           value=0, inplace = True)

### Separate the location columns.

In [38]:
# Problem: In Major area, region, country or area of destination column, there are inclusive relationship between location -- some values are regions, whereas some are countries
# Violates the Tidydata Principle 1: Each column must have a unique variable.

# separate the area columns based on its size
# filter out Major area rows and save it as a new dataframe
un2_ma = un2_order.loc[un2_order["Major area, region, country or area of destination"].
                       isin(['Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America'])]
          

# Rename the area column as Major area
un2_ma = un2_ma.rename(columns={'Major area, region, country or area of destination': 'Major area'})

In [39]:
# Glimpse the dataset
un2_ma.head()

,Sort order,Major area,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
6,7,Africa,NaN,903,1990,Both,631614.304
70,71,Asia,NaN,935,1990,Both,3202474.692
126,127,Europe,NaN,908,1990,Both,721086.311
179,180,Latin America and the Caribbean,NaN,904,1990,Both,446888.767
231,232,Northern America,NaN,905,1990,Both,280633.063

In [40]:
# Filter out region
# Northern America is indicated as one of the main region
un2_reg = un2_order.loc[un2_order["Major area, region, country or area of destination"].
                       isin(['Eastern Africa','Middle Africa', 'Northern Africa','Southern Africa','Western Africa', 
                              'Central Asia','Eastern Asia','South-Eastern Asia','Southern Asia','Western Asia',
                             'Eastern Europe','Northern Europe','Southern Europe', 'Western Europe',
                             'Caribbean','Central America','South America',
                             'Australia and New Zealand','Melanesia', 'Micronesia','Polynesia'
                              ])]

# Rename the are column as Region
un2_reg = un2_reg.rename(columns={'Major area, region, country or area of destination': 'Region'})

In [41]:
# Glimpse the dataset
un2_reg.head()

,Sort order,Region,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
7,8,Eastern Africa,NaN,910,1990,Both,198231.687
28,29,Middle Africa,NaN,911,1990,Both,70886.433
38,39,Northern Africa,NaN,912,1990,Both,140116.613
46,47,Southern Africa,NaN,913,1990,Both,42049.013
52,53,Western Africa,NaN,914,1990,Both,180330.558

In [42]:
# Filter out the country and other area
un2_coun = un2_order.loc[~un2_order["Major area, region, country or area of destination"].
                       isin(['WORLD', 
                             'Developed regions', 'Developing regions',
                             'Least developed countries','Less developed regions excluding least developed countries',
                             'Sub-Saharan Africa',
                             'Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America',
                             'Southern Asia', 'Southern Europe', 'Northern Africa', 'Polynesia',
                              'Middle Africa', 'Caribbean', 'South America', 'Western Asia',
                              'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
                              'Central America', 'Western Africa', 'Northern America', 'Southern Africa',
                              'South-Eastern Asia', 'Eastern Africa', 'Northern Europe', 'Eastern Asia',
                              'Melanesia', 'Micronesia', 'Central Asia'])]

# Rename the area column as Country or area
un2_coun = un2_coun.rename(columns={'Major area, region, country or area of destination': 'Country or area'})

In [43]:
# Glimpse the dataset
un2_coun.head()

,Sort order,Country or area,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
8,9,Burundi,NaN,108,1990,Both,5613.141
9,10,Comoros,NaN,174,1990,Both,415.144
10,11,Djibouti,NaN,262,1990,Both,588.356
11,12,Eritrea,NaN,232,1990,Both,3139.083
12,13,Ethiopia,NaN,231,1990,Both,48057.094

In [44]:
# filter out world row
un2_world = un2_order.loc[un2_order["Major area, region, country or area of destination"] == 'WORLD']

# Rename the world coumn as World
un2_world = un2_world.rename(columns={'Major area, region, country or area of destination': 'Total'})

In [45]:
# Glimpse the dataset
un2_world.head()

,Sort order,Total,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
0,1,WORLD,NaN,900,1990,Both,5309667.699
265,1,WORLD,NaN,900,1995,Both,5735123.084
530,1,WORLD,NaN,900,2000,Both,6126622.121
795,1,WORLD,NaN,900,2005,Both,6519635.850
1060,1,WORLD,NaN,900,2010,Both,6929725.043

In [46]:
# filter out developing and developed rows
un2_dev = un2_order.loc[un2_order["Major area, region, country or area of destination"].
                       isin(['Developed regions','Developing regions'])]

# Rename the coumn as nation
un2_dev = un2_dev.rename(columns={'Major area, region, country or area of destination': 'Nation'})

In [47]:
# Glimpse the dataset
un2_dev.head()

,Sort order,Nation,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
1,2,Developed regions,(b),901,1990,Both,1144463.062
2,3,Developing regions,(c),902,1990,Both,4165204.637
266,2,Developed regions,(b),901,1995,Both,1169761.211
267,3,Developing regions,(c),902,1995,Both,4565361.873
531,2,Developed regions,(b),901,2000,Both,1188811.731

In [48]:
# filter out two least developed groups under developing regions
un2_least = un2_order.loc[un2_order["Major area, region, country or area of destination"].
                       isin(['Least developed countries','Less developed regions excluding least developed countries'])]

# Rename the coumn as nation
un2_least = un2_least.rename(columns={'Major area, region, country or area of destination': 'Separation in developing regions'})

In [49]:
# Glimpse the dataset
un2_least.head()

,Sort order,Separation in developing regions,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
3,4,Least developed countries,(d),941,1990,Both,510057.629
4,5,Less developed regions excluding least develop...,NaN,934,1990,Both,3655147.008
268,4,Least developed countries,(d),941,1995,Both,585189.354
269,5,Less developed regions excluding least develop...,NaN,934,1995,Both,3980172.519
533,4,Least developed countries,(d),941,2000,Both,664386.087

In [50]:
# filter out Sub-Saharan Africa
un2_ssafrica = un2_order.loc[un2_order["Major area, region, country or area of destination"] == 'Sub-Saharan Africa']

# Rename the coumn as Other Africa
un2_ssafrica = un2_ssafrica.rename(columns={'Major area, region, country or area of destination': 'Separation in Africa'})

In [51]:
# Glimpse the dataset
un2_ssafrica.head()

,Sort order,Separation in Africa,Notes,Country code,Year,Sex,Total population at mid-year (thousands)
5,6,Sub-Saharan Africa,(e),947,1990,Both,491497.691
270,6,Sub-Saharan Africa,(e),947,1995,Both,562978.224
535,6,Sub-Saharan Africa,(e),947,2000,Both,642172.298
800,6,Sub-Saharan Africa,(e),947,2005,Both,733321.659
1065,6,Sub-Saharan Africa,(e),947,2010,Both,840390.129

In [52]:
# merge all dataframe
un2_fin = pd.concat([un2_world, un2_dev, un2_least, un2_ssafrica, un2_ma, un2_reg, un2_coun]).reset_index()

# arrange the order of columns
un2_fin = un2_fin[['Sort order', 
                   'Total',
                   'Nation',
                   'Separation in developing regions',
                   'Separation in Africa',
                   'Major area',
                   'Region',
                   'Country or area',
                   'Notes','Country code',
                    'Year',
                    'Sex',
                    'Total population at mid-year (thousands)']]

In [53]:
# Since Notes,Type of data (a) do not provide any addition information about the observational unit, they are removed.
# Country code and Sord order or both identification variable, so remove Country code.
un2_fin.drop(columns=['Notes','Country code'], inplace=True)

In [54]:
# Preview of dataset
un2_fin.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Sex,Total population at mid-year (thousands)
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Both,5309667.699
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Both,5735123.084
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Both,6126622.121
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Both,6519635.850
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Both,6929725.043
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Both,7349472.099
6,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Male,2670423.701
7,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Male,2886635.893
8,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Male,3084537.662
9,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Male,3285082.249
10,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Male,3493956.904
11,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Male,3707205.753
12,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Female,2639243.998
13,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Female,2848487.191
14,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Female,3042084.459
15,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Female,3234553.601
16,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Female,3435768.139
17,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Female,3642266.346
18,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,Both,1144463.062
19,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1990,Both,4165204.637

In [55]:
# Problem: there are more than one oberservational unit in the same table
# The dataset contains the geographic locations and total population per sex category per year.
# Violate Tidydata principle 3: Each type of observational unit forms a table
# Separate the geographic location and Total population
# filter out the geographic location columns with sort order
un2_finLocation = un2_fin.filter(["Sort order",'Total',
                   'Nation','Separation in developing regions',
                   'Separation in Africa',"Major area",'Region',
                   'Country or area']).drop_duplicates('Sort order').reset_index(drop=True)

# filter out the IMS and the associated year and sex.
un2_TP_fin = un2_fin.filter(["Sort order", "Year", "Sex","Total population at mid-year (thousands)"])
un2_TP_fin=un2_TP_fin.sort_values(by=['Sort order','Sex','Year']).reset_index(drop=True)

# view the dataset
un2_finLocation.head(15)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN

In [56]:
# Glimpse the TP dataset
un2_TP_fin.head(20)

    Sort order  Year      Sex  Total population at mid-year (thousands)
0            1  1990    Both                                5309667.699
1            1  1995    Both                                5735123.084
2            1  2000    Both                                6126622.121
3            1  2005    Both                                6519635.850
4            1  2010    Both                                6929725.043
5            1  2015    Both                                7349472.099
6            1  1990  Female                                2639243.998
7            1  1995  Female                                2848487.191
8            1  2000  Female                                3042084.459
9            1  2005  Female                                3234553.601
10           1  2010  Female                                3435768.139
11           1  2015  Female                                3642266.346
12           1  1990    Male                                2670423.701
13           1  1995    Male                                2886635.893
14           1  2000    Male                                3084537.662
15           1  2005    Male                                3285082.249
16           1  2010    Male                                3493956.904
17           1  2015    Male                                3707205.753
18           2  1990    Both                                1144463.062
19           2  1995    Both                                1169761.211



---

## Table 3

In [57]:
# remane the column name - change the header from multindex into single level
un3.columns = ['Major area, region, country or area of destination','Notes', 'Country code', 'Type of data (a)',
               'IMSP Both 1990', 'IMSP Both 1995', 'IMSP Both 2000','IMSP Both 2005', 'IMSP Both 2010', 'IMSP Both 2015',
               'IMSP Male 1990', 'IMSP Male 1995', 'IMSP Male 2000','IMSP Male 2005', 'IMSP Male 2010', 'IMSP Male 2015',
               'IMSP Female 1990', 'IMSP Female 1995', 'IMSP Female 2000','IMSP Female 2005', 'IMSP Female 2010','IMSP Female 2015']

In [58]:
# reorder the index of dataset and sava as new dataframe, and rename the variable 'index' to 'sort order'
un3_sort = un3.reset_index().rename(columns={'index': 'Sort order'})

In [59]:
# Glimpse the dataset
un3_sort.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),IMSP Both 1990,IMSP Both 1995,IMSP Both 2000,IMSP Both 2005,IMSP Both 2010,...,IMSP Male 2000,IMSP Male 2005,IMSP Male 2010,IMSP Male 2015,IMSP Female 1990,IMSP Female 1995,IMSP Female 2000,IMSP Female 2005,IMSP Female 2010,IMSP Female 2015
0,1,WORLD,NaN,900,NaN,2.87331,2.803806,2.818899,2.933739,3.199467,...,2.849206,2.979124,3.280341,3.4019,2.83474,2.775658,2.788169,2.887645,3.117222,3.228342
1,2,Developed regions,(b),901,NaN,7.198015,7.891085,8.695688,9.693045,10.747765,...,8.743236,9.73154,10.680972,11.097807,7.147777,7.84948,8.650694,9.656595,10.811029,11.348476
2,3,Developing regions,(c),902,NaN,1.685021,1.500317,1.404022,1.395066,1.565106,...,1.490031,1.507122,1.746117,1.888268,1.595116,1.417459,1.315351,1.279428,1.378176,1.49061
3,4,Least developed countries,(d),941,NaN,2.171513,2.001353,1.516863,1.303078,1.182422,...,1.617552,1.432574,1.293264,1.35773,2.045276,1.901226,1.418405,1.175548,1.073428,1.148865
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1.617042,1.426534,1.386338,1.410133,1.631865,...,1.470597,1.519189,1.823509,1.984593,1.530877,1.344872,1.299002,1.296941,1.432634,1.555397

In [60]:
# Problem: sex and year of IMSP are values but they are not stored in the cells
# Tidy data Principle 1: Each variable must have its own column.
# The sex identification and year should be move to cell instead of in header
un3_sy = un3_sort.melt(id_vars=["Sort order","Major area, region, country or area of destination", "Notes", 'Country code',  'Type of data (a)'], 
                       var_name=["IMSP"],value_name="International migrant stock as a percentage of the total population")

In [61]:
# Glimpse the dataset
un3_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),IMSP,International migrant stock as a percentage of the total population
0,1,WORLD,NaN,900,NaN,IMSP Both 1990,2.87331
1,2,Developed regions,(b),901,NaN,IMSP Both 1990,7.198015
2,3,Developing regions,(c),902,NaN,IMSP Both 1990,1.685021
3,4,Least developed countries,(d),941,NaN,IMSP Both 1990,2.171513
4,5,Less developed regions excluding least develop...,NaN,934,NaN,IMSP Both 1990,1.617042

In [62]:
# Problem: In IMSP column, two variables (sex, year) are stored in one cell
# Violates Tidydata Principle 1: each column should have a unique variable

# Remove the first 4 letters, Separate the sex identification and year into two columns
un3_sy = (un3_sy.assign(Year = lambda x: x.IMSP.str[-4:],
                        Sex = lambda x: x.IMSP.str[5:-4]).drop("IMSP",axis=1))

In [63]:
# Glimpse the dataset
un3_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),International migrant stock as a percentage of the total population,Year,Sex
0,1,WORLD,NaN,900,NaN,2.87331,1990,Both
1,2,Developed regions,(b),901,NaN,7.198015,1990,Both
2,3,Developing regions,(c),902,NaN,1.685021,1990,Both
3,4,Least developed countries,(d),941,NaN,2.171513,1990,Both
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1.617042,1990,Both

In [64]:
# Rearrange the order of columns
un3_order = un3_sy[['Sort order', 
                    'Major area, region, country or area of destination',
                    'Notes',
                    'Country code',
                    'Type of data (a)',
                    'Year',
                    'Sex',
                    'International migrant stock as a percentage of the total population']]
# Glimpse dataset
un3_order.head(10)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
0,1,WORLD,NaN,900,NaN,1990,Both,2.87331
1,2,Developed regions,(b),901,NaN,1990,Both,7.198015
2,3,Developing regions,(c),902,NaN,1990,Both,1.685021
3,4,Least developed countries,(d),941,NaN,1990,Both,2.171513
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,Both,1.617042
5,6,Sub-Saharan Africa,(e),947,NaN,1990,Both,2.988889
6,7,Africa,NaN,903,NaN,1990,Both,2.48421
7,8,Eastern Africa,NaN,910,NaN,1990,Both,3.008616
8,9,Burundi,NaN,108,B R,1990,Both,5.934467
9,10,Comoros,NaN,174,B,1990,Both,3.391353

In [65]:
# IMSP has missing values in form of ".."
# Replace the missing value with 0 to consistent with the variable typle
un3_order.replace(to_replace="..",
           value=0, inplace = True)

### Separate the location columns

In [66]:
# Problem: In Major area, region, country or area of destination column, there are inclusive relationship between location -- some values are regions, whereas some are countries
# Violates the Tidydata Principle 1: Each column must have a unique variable.

# separate the area columns based on its size
# filter out Major area rows and save it as a new dataframe
un3_ma = un3_order.loc[un3_order["Major area, region, country or area of destination"].
                       isin(['Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America'])]
          

# Rename the area column as Major area
un3_ma = un3_ma.rename(columns={'Major area, region, country or area of destination': 'Major area'})

In [67]:
# Glimpse the dataset
un3_ma.head()

,Sort order,Major area,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
6,7,Africa,NaN,903,NaN,1990,Both,2.484210
70,71,Asia,NaN,935,NaN,1990,Both,1.503283
126,127,Europe,NaN,908,NaN,1990,Both,6.825702
179,180,Latin America and the Caribbean,NaN,904,NaN,1990,Both,1.604365
231,232,Northern America,NaN,905,NaN,1990,Both,9.838663

In [68]:
# Filter out region
# Northern America is indicated as one of the main region
un3_reg = un3_order.loc[un3_order["Major area, region, country or area of destination"].
                       isin(['Eastern Africa','Middle Africa', 'Northern Africa','Southern Africa','Western Africa', 
                              'Central Asia','Eastern Asia','South-Eastern Asia','Southern Asia','Western Asia',
                             'Eastern Europe','Northern Europe','Southern Europe', 'Western Europe',
                             'Caribbean','Central America','South America',
                             'Australia and New Zealand','Melanesia', 'Micronesia','Polynesia'
                              ])]

# Rename the are column as Region
un3_reg = un3_reg.rename(columns={'Major area, region, country or area of destination': 'Region'})

In [69]:
# Glimpse the dataset
un3_reg.head()

,Sort order,Region,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
7,8,Eastern Africa,NaN,910,NaN,1990,Both,3.008616
28,29,Middle Africa,NaN,911,NaN,1990,Both,2.060380
38,39,Northern Africa,NaN,912,NaN,1990,Both,1.715143
46,47,Southern Africa,NaN,913,NaN,1990,Both,3.311276
52,53,Western Africa,NaN,914,NaN,1990,Both,2.479060

In [70]:
# Filter out the country and other area
un3_coun = un3_order.loc[~un3_order["Major area, region, country or area of destination"].
                       isin(['WORLD', 
                             'Developed regions', 'Developing regions',
                             'Least developed countries','Less developed regions excluding least developed countries',
                             'Sub-Saharan Africa',
                             'Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America',
                             'Southern Asia', 'Southern Europe', 'Northern Africa', 'Polynesia',
                              'Middle Africa', 'Caribbean', 'South America', 'Western Asia',
                              'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
                              'Central America', 'Western Africa', 'Northern America', 'Southern Africa',
                              'South-Eastern Asia', 'Eastern Africa', 'Northern Europe', 'Eastern Asia',
                              'Melanesia', 'Micronesia', 'Central Asia'])]

# Rename the area column as Country or area
un3_coun = un3_coun.rename(columns={'Major area, region, country or area of destination': 'Country or area'})

In [71]:
# Glimpse the dataset
un3_coun.head()

,Sort order,Country or area,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
8,9,Burundi,NaN,108,B R,1990,Both,5.934467
9,10,Comoros,NaN,174,B,1990,Both,3.391353
10,11,Djibouti,NaN,262,B R,1990,Both,20.773307
11,12,Eritrea,NaN,232,I,1990,Both,0.377435
12,13,Ethiopia,NaN,231,B R,1990,Both,2.404203

In [72]:
# filter out world row
un3_world = un3_order.loc[un3_order["Major area, region, country or area of destination"] == 'WORLD']

# Rename the world coumn as World
un3_world = un3_world.rename(columns={'Major area, region, country or area of destination': 'Total'})

In [73]:
# Glimpse the dataset
un3_world.head()

,Sort order,Total,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
0,1,WORLD,NaN,900,NaN,1990,Both,2.873310
265,1,WORLD,NaN,900,NaN,1995,Both,2.803806
530,1,WORLD,NaN,900,NaN,2000,Both,2.818899
795,1,WORLD,NaN,900,NaN,2005,Both,2.933739
1060,1,WORLD,NaN,900,NaN,2010,Both,3.199467

In [74]:
# filter out developing and developed rows
un3_dev = un3_order.loc[un3_order["Major area, region, country or area of destination"].
                       isin(['Developed regions','Developing regions'])]

# Rename the coumn as nation
un3_dev = un3_dev.rename(columns={'Major area, region, country or area of destination': 'Nation'})

In [75]:
# Glimpse the dataset
un3_dev.head()

,Sort order,Nation,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
1,2,Developed regions,(b),901,NaN,1990,Both,7.198015
2,3,Developing regions,(c),902,NaN,1990,Both,1.685021
266,2,Developed regions,(b),901,NaN,1995,Both,7.891085
267,3,Developing regions,(c),902,NaN,1995,Both,1.500317
531,2,Developed regions,(b),901,NaN,2000,Both,8.695688

In [76]:
# filter out two least developed groups under developing regions
un3_least = un3_order.loc[un3_order["Major area, region, country or area of destination"].
                       isin(['Least developed countries','Less developed regions excluding least developed countries'])]

# Rename the coumn as nation
un3_least = un3_least.rename(columns={'Major area, region, country or area of destination': 'Separation in developing regions'})

In [77]:
# Glimpse the dataset
un3_least.head()

,Sort order,Separation in developing regions,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
3,4,Least developed countries,(d),941,NaN,1990,Both,2.171513
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,Both,1.617042
268,4,Least developed countries,(d),941,NaN,1995,Both,2.001353
269,5,Less developed regions excluding least develop...,NaN,934,NaN,1995,Both,1.426534
533,4,Least developed countries,(d),941,NaN,2000,Both,1.516863

In [78]:
# filter out Sub-Saharan Africa
un3_ssafrica = un3_order.loc[un3_order["Major area, region, country or area of destination"] == 'Sub-Saharan Africa']

# Rename the coumn as Other Africa
un3_ssafrica = un3_ssafrica.rename(columns={'Major area, region, country or area of destination': 'Separation in Africa'})

In [79]:
# Glimpse the dataset
un3_ssafrica.head()

,Sort order,Separation in Africa,Notes,Country code,Type of data (a),Year,Sex,International migrant stock as a percentage of the total population
5,6,Sub-Saharan Africa,(e),947,NaN,1990,Both,2.988889
270,6,Sub-Saharan Africa,(e),947,NaN,1995,Both,2.722054
535,6,Sub-Saharan Africa,(e),947,NaN,2000,Both,2.135959
800,6,Sub-Saharan Africa,(e),947,NaN,2005,Both,1.902451
1065,6,Sub-Saharan Africa,(e),947,NaN,2010,Both,1.843996

In [80]:
# merge all dataframe
un3_fin = pd.concat([un3_world, un3_dev, un3_least, un3_ssafrica, un3_ma, un3_reg, un3_coun]).reset_index()

# arrange the order of columns
un3_fin = un3_fin[['Sort order', 
                   'Total',
                   'Nation',
                   'Separation in developing regions',
                   'Separation in Africa',
                   'Major area',
                   'Region',
                   'Country or area',
                   'Notes','Type of data (a)','Country code',
                    'Year',
                    'Sex',
                    'International migrant stock as a percentage of the total population']]

In [81]:
# Since Notes,Type of data (a) do not provide any addition information about the observational unit, they are removed.
# Country code and Sord order or both identification variable, so remove Country code.
un3_fin.drop(columns=['Notes','Type of data (a)','Country code'], inplace=True)

In [82]:
# Glimpse the dataset
un3_fin.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Sex,International migrant stock as a percentage of the total population
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Both,2.873310
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Both,2.803806
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Both,2.818899
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Both,2.933739
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Both,3.199467
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Both,3.315888
6,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Male,2.911430
7,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Male,2.831583
8,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Male,2.849206
9,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Male,2.979124
10,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Male,3.280341
11,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Male,3.401900
12,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Female,2.834740
13,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Female,2.775658
14,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Female,2.788169
15,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Female,2.887645
16,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Female,3.117222
17,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Female,3.228342
18,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,Both,7.198015
19,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1990,Both,1.685021

In [83]:
# Problem: there are more than one oberservational unit in the same table
# The dataset contains the geographic locations and International migrant stock as a percentage of the total population per sex per year.
# Violate Tidydata principle 3: Each type of observational unit forms a table
# Separate the geographic location and percentage of international migrant stock 
# filter out the geographic location columns with sort order
un3_finLocation = un3_fin.filter(["Sort order",'Total',
                   'Nation','Separation in developing regions',
                   'Separation in Africa',"Major area",'Region',
                   'Country or area']).drop_duplicates('Sort order').reset_index(drop=True)

# filter out the IMSP and the associated year and sex.
un3_IMSP_fin = un3_fin.filter(["Sort order", "Year", "Sex","International migrant stock as a percentage of the total population"])
un3_IMSP_fin=un3_IMSP_fin.sort_values(by=['Sort order','Sex']).reset_index(drop=True)

# view the dataset
un3_finLocation.head(15)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN

In [84]:
# Glimpse IMSP dataset
un3_IMSP_fin.head(20)

,Sort order,Year,Sex,International migrant stock as a percentage of the total population
0,1,1990,Both,2.873310
1,1,1995,Both,2.803806
2,1,2000,Both,2.818899
3,1,2005,Both,2.933739
4,1,2010,Both,3.199467
5,1,2015,Both,3.315888
6,1,1990,Female,2.834740
7,1,1995,Female,2.775658
8,1,2000,Female,2.788169
9,1,2005,Female,2.887645
10,1,2010,Female,3.117222
11,1,2015,Female,3.228342
12,1,1990,Male,2.911430
13,1,1995,Male,2.831583
14,1,2000,Male,2.849206
15,1,2005,Male,2.979124
16,1,2010,Male,3.280341
17,1,2015,Male,3.401900
18,2,1990,Both,7.198015
19,2,1995,Both,7.891085


---
## Table 4

In [85]:
# remane the column name - change the header from multindex into single level
un4.columns = ['Major area, region, country or area of destination','Notes', 'Country code', 'Type of data (a)',
               'FMP 1990', 'FMP 1995', 'FMP 2000','FMP 2005', 'FMP 2010', 'FMP 2015']

In [86]:
# reorder the index of dataset and sava as new dataframe, and rename the variable 'index' to 'sort order'
un4_sort = un4.reset_index().rename(columns={'index': 'Sort order'})

In [87]:
# Glimpse the dataset
un4_sort.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),FMP 1990,FMP 1995,FMP 2000,FMP 2005,FMP 2010,FMP 2015
0,1,WORLD,NaN,900,NaN,49.03915,49.16879,49.112244,48.832993,48.305660,48.249769
1,2,Developed regions,(b),901,NaN,51.123977,51.149024,51.113307,51.171501,51.658932,51.866687
2,3,Developing regions,(c),902,NaN,46.592099,46.500135,46.128444,45.134297,43.319780,43.327078
3,4,Least developed countries,(d),941,NaN,47.261155,47.571664,46.826689,45.157406,45.499573,45.942752
4,5,Less developed regions excluding least develop...,NaN,934,NaN,46.466684,46.279022,46.009598,45.130768,43.043672,42.984398

In [88]:
# Problem:  year of FMP is variable but it is not stored in the cells
# Tidy data Principle 1: Each variable must have its own column.
# The year should be move to cell instead of in header
un4_sy = un4_sort.melt(id_vars=["Sort order","Major area, region, country or area of destination", "Notes", 'Country code',  'Type of data (a)'], 
                       var_name=["FMP"],value_name="Female migrants as a percentage of the international migrant stock")

In [89]:
# Glimpse the dataset
un4_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),FMP,Female migrants as a percentage of the international migrant stock
0,1,WORLD,NaN,900,NaN,FMP 1990,49.03915
1,2,Developed regions,(b),901,NaN,FMP 1990,51.123977
2,3,Developing regions,(c),902,NaN,FMP 1990,46.592099
3,4,Least developed countries,(d),941,NaN,FMP 1990,47.261155
4,5,Less developed regions excluding least develop...,NaN,934,NaN,FMP 1990,46.466684

In [90]:
# Rename the FMP column as Year
# Remove the first 3 letters, rename the column
un4_sy['Year'] = un4_sy['FMP'].str[4:]

# Drop the FMP column
un4_sy = un4_sy.drop(columns=['FMP'])

In [91]:
# Glimpse the dataset
un4_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Female migrants as a percentage of the international migrant stock,Year
0,1,WORLD,NaN,900,NaN,49.03915,1990
1,2,Developed regions,(b),901,NaN,51.123977,1990
2,3,Developing regions,(c),902,NaN,46.592099,1990
3,4,Least developed countries,(d),941,NaN,47.261155,1990
4,5,Less developed regions excluding least develop...,NaN,934,NaN,46.466684,1990

In [92]:
# Rearrange the order of columns
un4_order = un4_sy[['Sort order', 
                    'Major area, region, country or area of destination',
                    'Notes',
                    'Country code',
                    'Type of data (a)',
                    'Year',
                    'Female migrants as a percentage of the international migrant stock']]
# Glimpse dataset
un4_order.head(10)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
0,1,WORLD,NaN,900,NaN,1990,49.03915
1,2,Developed regions,(b),901,NaN,1990,51.123977
2,3,Developing regions,(c),902,NaN,1990,46.592099
3,4,Least developed countries,(d),941,NaN,1990,47.261155
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,46.466684
5,6,Sub-Saharan Africa,(e),947,NaN,1990,47.276121
6,7,Africa,NaN,903,NaN,1990,47.232408
7,8,Eastern Africa,NaN,910,NaN,1990,48.504812
8,9,Burundi,NaN,108,B R,1990,50.987061
9,10,Comoros,NaN,174,B,1990,52.290646

In [93]:
# IMSFMP has missing values in form of ".."
# Replace the missing value with 0 to consistent with the variable typle
un4_order.replace(to_replace="..",
           value=0, inplace = True)

### Separate the location columns

In [94]:
# Problem: In Major area, region, country or area of destination column, there are inclusive relationship between location -- some values are regions, whereas some are countries
# Violates the Tidydata Principle 1: Each column must have a unique variable.

# separate the area columns based on its size
# filter out Major area rows and save it as a new dataframe
un4_ma = un4_order.loc[un4_order["Major area, region, country or area of destination"].
                       isin(['Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America'])]
          

# Rename the area column as Major area
un4_ma = un4_ma.rename(columns={'Major area, region, country or area of destination': 'Major area'})

In [95]:
# Glimpse the dataset
un4_ma.head()

,Sort order,Major area,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
6,7,Africa,NaN,903,NaN,1990,47.232408
70,71,Asia,NaN,935,NaN,1990,45.968730
126,127,Europe,NaN,908,NaN,1990,51.346887
179,180,Latin America and the Caribbean,NaN,904,NaN,1990,49.830217
231,232,Northern America,NaN,905,NaN,1990,51.115342

In [96]:
# Filter out region
# Northern America is indicated as one of the main region
un4_reg = un4_order.loc[un4_order["Major area, region, country or area of destination"].
                       isin(['Eastern Africa','Middle Africa', 'Northern Africa','Southern Africa','Western Africa', 
                              'Central Asia','Eastern Asia','South-Eastern Asia','Southern Asia','Western Asia',
                             'Eastern Europe','Northern Europe','Southern Europe', 'Western Europe',
                             'Caribbean','Central America','South America',
                             'Australia and New Zealand','Melanesia', 'Micronesia','Polynesia'
                              ])]

# Rename the are column as Region
un4_reg = un4_reg.rename(columns={'Major area, region, country or area of destination': 'Region'})

In [97]:
# Glimpse the dataset
un4_reg.head()

,Sort order,Region,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
7,8,Eastern Africa,NaN,910,NaN,1990,48.504812
28,29,Middle Africa,NaN,911,NaN,1990,49.025765
38,39,Northern Africa,NaN,912,NaN,1990,48.791486
46,47,Southern Africa,NaN,913,NaN,1990,39.606165
52,53,Western Africa,NaN,914,NaN,1990,46.486134

In [98]:
# Filter out the country and other area
un4_coun = un4_order.loc[~un4_order["Major area, region, country or area of destination"].
                       isin(['WORLD', 
                             'Developed regions', 'Developing regions',
                             'Least developed countries','Less developed regions excluding least developed countries',
                             'Sub-Saharan Africa',
                             'Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America',
                             'Southern Asia', 'Southern Europe', 'Northern Africa', 'Polynesia',
                              'Middle Africa', 'Caribbean', 'South America', 'Western Asia',
                              'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
                              'Central America', 'Western Africa', 'Northern America', 'Southern Africa',
                              'South-Eastern Asia', 'Eastern Africa', 'Northern Europe', 'Eastern Asia',
                              'Melanesia', 'Micronesia', 'Central Asia'])]

# Rename the area column as Country or area
un4_coun = un4_coun.rename(columns={'Major area, region, country or area of destination': 'Country or area'})

In [99]:
# Glimpse the dataset
un4_coun.head()

,Sort order,Country or area,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
8,9,Burundi,NaN,108,B R,1990,50.987061
9,10,Comoros,NaN,174,B,1990,52.290646
10,11,Djibouti,NaN,262,B R,1990,47.437838
11,12,Eritrea,NaN,232,I,1990,47.434166
12,13,Ethiopia,NaN,231,B R,1990,47.439047

In [100]:
# filter out world row
un4_world = un4_order.loc[un4_order["Major area, region, country or area of destination"] == 'WORLD']

# Rename the world coumn as World
un4_world = un4_world.rename(columns={'Major area, region, country or area of destination': 'Total'})

In [101]:
# Glimpse the dataset
un4_world.head()

,Sort order,Total,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
0,1,WORLD,NaN,900,NaN,1990,49.039150
265,1,WORLD,NaN,900,NaN,1995,49.168790
530,1,WORLD,NaN,900,NaN,2000,49.112244
795,1,WORLD,NaN,900,NaN,2005,48.832993
1060,1,WORLD,NaN,900,NaN,2010,48.305660

In [102]:
# filter out developing and developed rows
un4_dev = un4_order.loc[un4_order["Major area, region, country or area of destination"].
                       isin(['Developed regions','Developing regions'])]

# Rename the coumn as nation
un4_dev = un4_dev.rename(columns={'Major area, region, country or area of destination': 'Nation'})

In [103]:
# Glimpse the dataset
un4_dev.head()

,Sort order,Nation,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
1,2,Developed regions,(b),901,NaN,1990,51.123977
2,3,Developing regions,(c),902,NaN,1990,46.592099
266,2,Developed regions,(b),901,NaN,1995,51.149024
267,3,Developing regions,(c),902,NaN,1995,46.500135
531,2,Developed regions,(b),901,NaN,2000,51.113307

In [104]:
# filter out two least developed groups under developing regions
un4_least = un4_order.loc[un4_order["Major area, region, country or area of destination"].
                       isin(['Least developed countries','Less developed regions excluding least developed countries'])]

# Rename the coumn as nation
un4_least = un4_least.rename(columns={'Major area, region, country or area of destination': 'Separation in developing regions'})

In [105]:
# Glimpse the dataset
un4_least.head()

,Sort order,Separation in developing regions,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
3,4,Least developed countries,(d),941,NaN,1990,47.261155
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,46.466684
268,4,Least developed countries,(d),941,NaN,1995,47.571664
269,5,Less developed regions excluding least develop...,NaN,934,NaN,1995,46.279022
533,4,Least developed countries,(d),941,NaN,2000,46.826689

In [106]:
# filter out Sub-Saharan Africa
un4_ssafrica = un4_order.loc[un4_order["Major area, region, country or area of destination"] == 'Sub-Saharan Africa']

# Rename the coumn as Other Africa
un4_ssafrica = un4_ssafrica.rename(columns={'Major area, region, country or area of destination': 'Separation in Africa'})

In [107]:
# Glimpse the dataset
un4_ssafrica.head()

,Sort order,Separation in Africa,Notes,Country code,Type of data (a),Year,Female migrants as a percentage of the international migrant stock
5,6,Sub-Saharan Africa,(e),947,NaN,1990,47.276121
270,6,Sub-Saharan Africa,(e),947,NaN,1995,47.555958
535,6,Sub-Saharan Africa,(e),947,NaN,2000,47.432424
800,6,Sub-Saharan Africa,(e),947,NaN,2005,46.641803
1065,6,Sub-Saharan Africa,(e),947,NaN,2010,47.159413

In [108]:
# merge all dataframe
un4_fin = pd.concat([un4_world, un4_dev, un4_least, un4_ssafrica, un4_ma, un4_reg, un4_coun]).reset_index()

# arrange the order of columns
un4_fin = un4_fin[['Sort order', 
                   'Total',
                   'Nation',
                   'Separation in developing regions',
                   'Separation in Africa',
                   'Major area',
                   'Region',
                   'Country or area',
                   'Notes','Type of data (a)','Country code',
                    'Year',
                    'Female migrants as a percentage of the international migrant stock']]

In [109]:
# Since Notes,Type of data (a) do not provide any addition information about the observational unit, they are removed.
# Country code and Sord order or both identification variable, so remove Country code.
un4_fin.drop(columns=['Notes','Type of data (a)','Country code'], inplace=True)

In [110]:
# Glimpse the dataset
un4_fin.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Female migrants as a percentage of the international migrant stock
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,49.039150
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,49.168790
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,49.112244
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,48.832993
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,48.305660
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,48.249769
6,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,51.123977
7,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1990,46.592099
8,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1995,51.149024
9,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1995,46.500135
10,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2000,51.113307
11,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2000,46.128444
12,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2005,51.171501
13,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2005,45.134297
14,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2010,51.658932
15,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2010,43.319780
16,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2015,51.866687
17,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2015,43.327078
18,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN,1990,47.261155
19,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN,1990,46.466684

In [111]:
# Problem: there are two observational units: destination and the year
# Violate principle 3: each table should contains only one observational units.

# separate the destination and year into two table
# filter out the geographic location columns with sort order
un4_finLocation = un4_fin.filter(["Sort order",'Total',
                   'Nation','Separation in developing regions',
                   'Separation in Africa',"Major area",'Region',
                   'Country or area']).drop_duplicates('Sort order').reset_index(drop=True)

# filter out the FMP and the associated year and sex.
un4_FMP_fin = un4_fin.filter(["Sort order", "Year","Female migrants as a percentage of the international migrant stock"])
un4_FMP_fin=un4_FMP_fin.sort_values(by=['Sort order','Year']).reset_index(drop=True)

# view the dataset
un4_finLocation.head(15)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN

In [112]:
# Glimpse IMSP dataset
un4_FMP_fin.head(20)

,Sort order,Year,Female migrants as a percentage of the international migrant stock
0,1,1990,49.039150
1,1,1995,49.168790
2,1,2000,49.112244
3,1,2005,48.832993
4,1,2010,48.305660
5,1,2015,48.249769
6,2,1990,51.123977
7,2,1995,51.149024
8,2,2000,51.113307
9,2,2005,51.171501
10,2,2010,51.658932
11,2,2015,51.866687
12,3,1990,46.592099
13,3,1995,46.500135
14,3,2000,46.128444
15,3,2005,45.134297
16,3,2010,43.319780
17,3,2015,43.327078
18,4,1990,47.261155
19,4,1995,47.571664



---


## Table 5

In [113]:
# remane the column name - change the header from multindex into single level
# To match the year format in other tables, interval of year in this dataset would be recoded as the upper bound of the interval.
# e.g. 1990-1995 would be recorded as 1995
un5.columns = ['Major area, region, country or area of destination','Notes', 'Country code', 'Type of data (a)',
               'ARCMS Both 1995', 'ARCMS Both 2000', 'ARCMS Both 2005','ARCMS Both 2010', 'ARCMS Both 2015',
               'ARCMS Male 1995', 'ARCMS Male 2000', 'ARCMS Male 2005','ARCMS Male 2010', 'ARCMS Male 2015', 
               'ARCMS Female 1995', 'ARCMS Female 2000', 'ARCMS Female 2005','ARCMS Female 2010', 'ARCMS Female 2015']

In [114]:
# reorder the index of dataset and sava as new dataframe, and rename the variable 'index' to 'sort order'
un5_sort = un5.reset_index().rename(columns={'index': 'Sort order'})

In [115]:
# Glimpse the dataset
un5_sort.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),ARCMS Both 1995,ARCMS Both 2000,ARCMS Both 2005,ARCMS Both 2010,ARCMS Both 2015,ARCMS Male 1995,ARCMS Male 2000,ARCMS Male 2005,ARCMS Male 2010,ARCMS Male 2015,ARCMS Female 1995,ARCMS Female 2000,ARCMS Female 2005,ARCMS Female 2010,ARCMS Female 2015
0,1,WORLD,NaN,900,NaN,1.051865,1.428058,2.042124,2.95416,1.890991,1.000922,1.450294,2.151575,3.159228,1.912603,1.104667,1.405044,1.92808,2.737012,1.867837
1,2,Developed regions,(b),901,NaN,2.275847,2.264965,2.50708,2.466343,1.160824,2.265595,2.279583,2.483259,2.265689,1.074685,2.285643,2.250995,2.529838,2.65595,1.241097
2,3,Developing regions,(c),902,NaN,-0.487389,0.241777,1.328107,3.702217,2.929634,-0.45298,0.380246,1.693824,4.352954,2.927058,-0.526904,0.081268,0.89236,2.881555,2.933003
3,4,Least developed countries,(d),941,NaN,1.118175,-3.001139,-0.539636,0.419137,3.526927,1.000073,-2.718952,0.078575,0.293964,3.363629,1.249146,-3.316818,-1.265617,0.57011,3.720790
4,5,Less developed regions excluding least develop...,NaN,934,NaN,-0.803244,0.850177,1.62934,4.159339,2.852687,-0.733256,0.950231,1.952269,4.90598,2.873490,-0.88418,0.733402,1.243624,3.212358,2.825127

In [116]:
# Problem:  The sex identification and year of ACRMS are variables but they are not stored in the cells
# Tidy data Principle 1: Each variable must have its own column.
# The sex and year should be stored in columns instead of in header
un5_sy = un5_sort.melt(id_vars=["Sort order","Major area, region, country or area of destination", "Notes", 'Country code',  'Type of data (a)'], 
                       var_name=["ARCMS"],value_name="Annual rate of change of the migrant stock")

In [117]:
# Glimpse the dataset
un5_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),ARCMS,Annual rate of change of the migrant stock
0,1,WORLD,NaN,900,NaN,ARCMS Both 1995,1.051865
1,2,Developed regions,(b),901,NaN,ARCMS Both 1995,2.275847
2,3,Developing regions,(c),902,NaN,ARCMS Both 1995,-0.487389
3,4,Least developed countries,(d),941,NaN,ARCMS Both 1995,1.118175
4,5,Less developed regions excluding least develop...,NaN,934,NaN,ARCMS Both 1995,-0.803244

In [118]:
# Problem: In ARCMS column, two variables (sex, year) are stored in one cell
# Violates Tidydata Principle 1: each column should have a unique variable

# Remove the first 5 letters, Separate the sex identification and year into two columns
un5_sy = (un5_sy.assign(Year = lambda x: x.ARCMS.str[-4:],
                        Sex = lambda x: x.ARCMS.str[6:-4]).drop("ARCMS",axis=1))

In [119]:
# Glimpse the dataset
un5_sy.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Annual rate of change of the migrant stock,Year,Sex
0,1,WORLD,NaN,900,NaN,1.051865,1995,Both
1,2,Developed regions,(b),901,NaN,2.275847,1995,Both
2,3,Developing regions,(c),902,NaN,-0.487389,1995,Both
3,4,Least developed countries,(d),941,NaN,1.118175,1995,Both
4,5,Less developed regions excluding least develop...,NaN,934,NaN,-0.803244,1995,Both

In [120]:
# Rearrange the order of columns
un5_order = un5_sy[['Sort order', 
                    'Major area, region, country or area of destination',
                    'Notes',
                    'Country code',
                    'Type of data (a)',
                    'Year',
                    'Sex',
                    'Annual rate of change of the migrant stock']]
# Glimpse dataset
un5_order.head(10)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
0,1,WORLD,NaN,900,NaN,1995,Both,1.051865
1,2,Developed regions,(b),901,NaN,1995,Both,2.275847
2,3,Developing regions,(c),902,NaN,1995,Both,-0.487389
3,4,Least developed countries,(d),941,NaN,1995,Both,1.118175
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1995,Both,-0.803244
5,6,Sub-Saharan Africa,(e),947,NaN,1995,Both,0.845374
6,7,Africa,NaN,903,NaN,1995,Both,0.826734
7,8,Eastern Africa,NaN,910,NaN,1995,Both,-3.435412
8,9,Burundi,NaN,108,B R,1995,Both,-5.355717
9,10,Comoros,NaN,174,B,1995,Both,-0.199873

In [121]:
# ARCMS has missing values in form of ".."
# Replace the missing value with 0 to consistent with the variable typle
un5_order.replace(to_replace="..",
           value=0, inplace = True)

### Separate the location columns

In [122]:
# Problem: In Major area, region, country or area of destination column, there are inclusive relationship between location -- some values are regions, whereas some are countries
# Violates the Tidydata Principle 1: Each column must have a unique variable.

# separate the area columns based on its size
# filter out Major area rows and save it as a new dataframe
un5_ma = un5_order.loc[un5_order["Major area, region, country or area of destination"].
                       isin(['Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America'])]
          

# Rename the area column as Major area
un5_ma = un5_ma.rename(columns={'Major area, region, country or area of destination': 'Major area'})

In [123]:
# Glimpse the dataset
un5_ma.head()

,Sort order,Major area,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
6,7,Africa,NaN,903,NaN,1995,Both,0.826734
70,71,Asia,NaN,935,NaN,1995,Both,-0.673431
126,127,Europe,NaN,908,NaN,1995,Both,1.420702
179,180,Latin America and the Caribbean,NaN,904,NaN,1995,Both,-1.371210
231,232,Northern America,NaN,905,NaN,1995,Both,3.771892

In [124]:
# Filter out region
# Northern America is indicated as one of the main region
un5_reg = un5_order.loc[un5_order["Major area, region, country or area of destination"].
                       isin(['Eastern Africa','Middle Africa', 'Northern Africa','Southern Africa','Western Africa', 
                              'Central Asia','Eastern Asia','South-Eastern Asia','Southern Asia','Western Asia',
                             'Eastern Europe','Northern Europe','Southern Europe', 'Western Europe',
                             'Caribbean','Central America','South America',
                             'Australia and New Zealand','Melanesia', 'Micronesia','Polynesia'
                              ])]

# Rename the are column as Region
un5_reg = un5_reg.rename(columns={'Major area, region, country or area of destination': 'Region'})

In [125]:
# Glimpse the dataset
un5_reg.head()

,Sort order,Region,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
7,8,Eastern Africa,NaN,910,NaN,1995,Both,-3.435412
28,29,Middle Africa,NaN,911,NaN,1995,Both,11.885810
38,39,Northern Africa,NaN,912,NaN,1995,Both,-2.872903
46,47,Southern Africa,NaN,913,NaN,1995,Both,-3.114352
52,53,Western Africa,NaN,914,NaN,1995,Both,3.817706

In [126]:
# Filter out the country and other area
un5_coun = un5_order.loc[~un5_order["Major area, region, country or area of destination"].
                       isin(['WORLD', 
                             'Developed regions', 'Developing regions',
                             'Least developed countries','Less developed regions excluding least developed countries',
                             'Sub-Saharan Africa',
                             'Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America',
                             'Southern Asia', 'Southern Europe', 'Northern Africa', 'Polynesia',
                              'Middle Africa', 'Caribbean', 'South America', 'Western Asia',
                              'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
                              'Central America', 'Western Africa', 'Northern America', 'Southern Africa',
                              'South-Eastern Asia', 'Eastern Africa', 'Northern Europe', 'Eastern Asia',
                              'Melanesia', 'Micronesia', 'Central Asia'])]

# Rename the area column as Country or area
un5_coun = un5_coun.rename(columns={'Major area, region, country or area of destination': 'Country or area'})

In [127]:
# Glimpse the dataset
un5_coun.head()

,Sort order,Country or area,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
8,9,Burundi,NaN,108,B R,1995,Both,-5.355717
9,10,Comoros,NaN,174,B,1995,Both,-0.199873
10,11,Djibouti,NaN,262,B R,1995,Both,-4.058465
11,12,Eritrea,NaN,232,I,1995,Both,0.910748
12,13,Ethiopia,NaN,231,B R,1995,Both,-7.179771

In [128]:
# filter out world row
un5_world = un5_order.loc[un5_order["Major area, region, country or area of destination"] == 'WORLD']

# Rename the world coumn as World
un5_world = un5_world.rename(columns={'Major area, region, country or area of destination': 'Total'})

In [129]:
# Glimpse the dataset
un5_world.head()

,Sort order,Total,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
0,1,WORLD,NaN,900,NaN,1995,Both,1.051865
265,1,WORLD,NaN,900,NaN,2000,Both,1.428058
530,1,WORLD,NaN,900,NaN,2005,Both,2.042124
795,1,WORLD,NaN,900,NaN,2010,Both,2.954160
1060,1,WORLD,NaN,900,NaN,2015,Both,1.890991

In [130]:
# filter out developing and developed rows
un5_dev = un5_order.loc[un5_order["Major area, region, country or area of destination"].
                       isin(['Developed regions','Developing regions'])]

# Rename the coumn as nation
un5_dev = un5_dev.rename(columns={'Major area, region, country or area of destination': 'Nation'})

In [131]:
# Glimpse the dataset
un5_dev.head()

,Sort order,Nation,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
1,2,Developed regions,(b),901,NaN,1995,Both,2.275847
2,3,Developing regions,(c),902,NaN,1995,Both,-0.487389
266,2,Developed regions,(b),901,NaN,2000,Both,2.264965
267,3,Developing regions,(c),902,NaN,2000,Both,0.241777
531,2,Developed regions,(b),901,NaN,2005,Both,2.507080

In [132]:
# filter out two least developed groups under developing regions
un5_least = un5_order.loc[un5_order["Major area, region, country or area of destination"].
                       isin(['Least developed countries','Less developed regions excluding least developed countries'])]

# Rename the coumn as nation
un5_least = un5_least.rename(columns={'Major area, region, country or area of destination': 'Separation in developing regions'})

In [133]:
# Glimpse the dataset
un5_least.head()

,Sort order,Separation in developing regions,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
3,4,Least developed countries,(d),941,NaN,1995,Both,1.118175
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1995,Both,-0.803244
268,4,Least developed countries,(d),941,NaN,2000,Both,-3.001139
269,5,Less developed regions excluding least develop...,NaN,934,NaN,2000,Both,0.850177
533,4,Least developed countries,(d),941,NaN,2005,Both,-0.539636

In [134]:
# filter out Sub-Saharan Africa
un5_ssafrica = un5_order.loc[un5_order["Major area, region, country or area of destination"] == 'Sub-Saharan Africa']

# Rename the coumn as Other Africa
un5_ssafrica = un5_ssafrica.rename(columns={'Major area, region, country or area of destination': 'Separation in Africa'})

In [135]:
# Glimpse the dataset
un5_ssafrica.head()

,Sort order,Separation in Africa,Notes,Country code,Type of data (a),Year,Sex,Annual rate of change of the migrant stock
5,6,Sub-Saharan Africa,(e),947,NaN,1995,Both,0.845374
270,6,Sub-Saharan Africa,(e),947,NaN,2000,Both,-2.217102
535,6,Sub-Saharan Africa,(e),947,NaN,2005,Both,0.339100
800,6,Sub-Saharan Africa,(e),947,NaN,2010,Both,2.101477
1065,6,Sub-Saharan Africa,(e),947,NaN,2015,Both,4.069823

In [136]:
# merge all dataframe
un5_fin = pd.concat([un5_world, un5_dev, un5_least, un5_ssafrica, un5_ma, un5_reg, un5_coun]).reset_index()

# arrange the order of columns
un5_fin = un5_fin[['Sort order', 
                   'Total',
                   'Nation',
                   'Separation in developing regions',
                   'Separation in Africa',
                   'Major area',
                   'Region',
                   'Country or area',
                   'Notes','Type of data (a)','Country code',
                    'Year',
                    'Sex',
                    'Annual rate of change of the migrant stock']]

In [137]:
# Since Notes,Type of data (a) do not provide any addition information about the observational unit, they are removed.
# Country code and Sord order or both identification variable, so remove Country code.
un5_fin.drop(columns=['Notes','Type of data (a)','Country code'], inplace=True)

# Glimpse dataset
un5_fin.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Sex,Annual rate of change of the migrant stock
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Both,1.051865
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Both,1.428058
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Both,2.042124
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Both,2.954160
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Both,1.890991
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Male,1.000922
6,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Male,1.450294
7,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Male,2.151575
8,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Male,3.159228
9,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Male,1.912603
10,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Female,1.104667
11,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Female,1.405044
12,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Female,1.928080
13,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Female,2.737012
14,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Female,1.867837
15,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1995,Both,2.275847
16,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1995,Both,-0.487389
17,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2000,Both,2.264965
18,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2000,Both,0.241777
19,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2005,Both,2.507080

In [138]:
# Problem: there are more than one oberservational unit in the same table
# The dataset contains the geographic locations and annual rate of change of the migrant stock per sex per year.
# Violate Tidydata principle 3: Each type of observational unit forms a table
# Separate the geographic location and annual rate of change of the migrant stock
# filter out the geographic location columns with sort order
un5_finLocation = un5_fin.filter(["Sort order",'Total',
                   'Nation','Separation in developing regions',
                   'Separation in Africa',"Major area",'Region',
                   'Country or area']).drop_duplicates('Sort order').reset_index(drop=True)

# filter out the ARCMS and the associated year and sex.
un5_ARCMS_fin = un5_fin.filter(["Sort order", "Year", "Sex","Annual rate of change of the migrant stock"])
un5_ARCMS_fin=un5_ARCMS_fin.sort_values(by=['Sort order','Sex']).reset_index(drop=True)

# view the dataset
un5_finLocation.head(15)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN

In [139]:
# Glimpse ARCMS dataset
un5_ARCMS_fin.head(20)

    Sort order  Year      Sex  Annual rate of change of the migrant stock
0            1  1995    Both                                     1.051865
1            1  2000    Both                                     1.428058
2            1  2005    Both                                     2.042124
3            1  2010    Both                                     2.954160
4            1  2015    Both                                     1.890991
5            1  1995  Female                                     1.104667
6            1  2000  Female                                     1.405044
7            1  2005  Female                                     1.928080
8            1  2010  Female                                     2.737012
9            1  2015  Female                                     1.867837
10           1  1995    Male                                     1.000922
11           1  2000    Male                                     1.450294
12           1  2005    Male                                     2.151575
13           1  2010    Male                                     3.159228
14           1  2015    Male                                     1.912603
15           2  1995    Both                                     2.275847
16           2  2000    Both                                     2.264965
17           2  2005    Both                                     2.507080
18           2  2010    Both                                     2.466343
19           2  2015    Both                                     1.160824



---


## Table 6

In [140]:
# remane the column name - change the header from multindex into single level
un6.columns = ['Major area, region, country or area of destination','Notes', 'Country code', 'Type of data (a)',
               'ERS Both 1990', 'ERS Both 1995', 'ERS Both 2000','ERS Both 2005', 'ERS Both 2010', 'ERS Both 2015',
               'RPIMS 1990', 'RPIMS 1995', 'RPIMS 2000','RPIMS 2005', 'RPIMS 2010', 'RPIMS 2015',
               'ARCRS 1990-1995', 'ARCRS 1995-2000', 'ARCRS 2000-2005','ARCRS 2005-2010', 'ARCRS 2010-2015']

In [141]:
# reorder the index of dataset and sava as new dataframe, and rename the variable 'index' to 'sort order'
un6_sort = un6.reset_index().rename(columns={'index': 'Sort order'})

In [142]:
# Glimpse the dataset
un6_sort.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),ERS Both 1990,ERS Both 1995,ERS Both 2000,ERS Both 2005,ERS Both 2010,...,RPIMS 1995,RPIMS 2000,RPIMS 2005,RPIMS 2010,RPIMS 2015,ARCRS 1990-1995,ARCRS 1995-2000,ARCRS 2000-2005,ARCRS 2005-2010,ARCRS 2010-2015
0,1,WORLD,NaN,900,NaN,18836571,17853840,15827803,13276733,15370755,...,11.103013,9.164736,6.941389,6.932687,8.033424,-2.123497,-3.837069,-5.557223,-0.025089,2.947267
1,2,Developed regions,(b),901,NaN,2014564,3609670,2997256,2361229,2046917,...,3.910511,2.899391,2.015025,1.544140,1.391085,9.388424,-5.983348,-7.277379,-5.323293,-2.087656
2,3,Developing regions,(c),902,NaN,16822007,14244170,12830547,10915504,13323838,...,20.795958,18.507035,14.733162,14.944759,17.073768,-2.839417,-2.332154,-4.561,0.285195,2.663652
3,4,Least developed countries,(d),941,NaN,5048391,5160131,3047488,2363782,1957884,...,44.041961,30.221557,24.08243,19.533425,28.801534,-0.680327,-7.531747,-4.541459,-4.187109,7.766031
4,5,Less developed regions excluding least develop...,NaN,934,NaN,11773616,9084039,9783059,8551722,11365954,...,15.999082,16.51313,13.305391,14.363526,15.537313,-4.3836,0.632489,-4.319731,1.530456,1.571047

In [143]:
# separate ERS out to create a new dataframe 
un6_ers = un6_sort.iloc[:,0:11]

In [144]:
# Glimpse the dataset
un6_ers.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),ERS Both 1990,ERS Both 1995,ERS Both 2000,ERS Both 2005,ERS Both 2010,ERS Both 2015
0,1,WORLD,NaN,900,NaN,18836571,17853840,15827803,13276733,15370755,19577474
1,2,Developed regions,(b),901,NaN,2014564,3609670,2997256,2361229,2046917,1954224
2,3,Developing regions,(c),902,NaN,16822007,14244170,12830547,10915504,13323838,17623250
3,4,Least developed countries,(d),941,NaN,5048391,5160131,3047488,2363782,1957884,3443582
4,5,Less developed regions excluding least develop...,NaN,934,NaN,11773616,9084039,9783059,8551722,11365954,14179668

In [145]:
# Problem: ERS and its associated year are variables but they are not stored in the columns
# Tidy data Principle 1: Each variable should have its own column.
# ERS and year should be stored in columns instead of in header

# store ERS its associated year as columns
un6_ers = un6_ers.melt(id_vars=["Sort order","Major area, region, country or area of destination", "Notes", 'Country code',  'Type of data (a)'], 
                       var_name=["Year"],value_name="Estimated refugee stock at mid-year")

In [146]:
# Glimpse the dataset
un6_ers.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Estimated refugee stock at mid-year
0,1,WORLD,NaN,900,NaN,ERS Both 1990,18836571
1,2,Developed regions,(b),901,NaN,ERS Both 1990,2014564
2,3,Developing regions,(c),902,NaN,ERS Both 1990,16822007
3,4,Least developed countries,(d),941,NaN,ERS Both 1990,5048391
4,5,Less developed regions excluding least develop...,NaN,934,NaN,ERS Both 1990,11773616

In [147]:
# clean the value for Year by only keeping the number
un6_ers['Year'] = un6_ers['Year'].str[-4:]

In [148]:
# Glimpse the dataset
un6_ers.head()

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Estimated refugee stock at mid-year
0,1,WORLD,NaN,900,NaN,1990,18836571
1,2,Developed regions,(b),901,NaN,1990,2014564
2,3,Developing regions,(c),902,NaN,1990,16822007
3,4,Least developed countries,(d),941,NaN,1990,5048391
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,11773616

In [149]:
# separate RPIMS out to create a new dataframe 
un6_rpims = un6_sort.iloc[:,[0,1,11,12,13,14,15,16]]

In [150]:
# Glimpse the dataset
un6_rpims.head()

,Sort order,"Major area, region, country or area of destination",RPIMS 1990,RPIMS 1995,RPIMS 2000,RPIMS 2005,RPIMS 2010,RPIMS 2015
0,1,WORLD,12.346732,11.103013,9.164736,6.941389,6.932687,8.033424
1,2,Developed regions,2.445494,3.910511,2.899391,2.015025,1.544140,1.391085
2,3,Developing regions,23.968236,20.795958,18.507035,14.733162,14.944759,17.073768
3,4,Least developed countries,45.56588,44.041961,30.221557,24.08243,19.533425,28.801534
4,5,Less developed regions excluding least develop...,19.919743,15.999082,16.51313,13.305391,14.363526,15.537313

In [151]:
# Problem: RPIMS and its associated year are variables but they are not stored in the columns
# Tidy data Principle 1: Each variable should have its own column.
# RPIMS and year should be stored in columns instead of in header

# store RPIMS its associated year as columns
un6_rpims = un6_rpims.melt(id_vars=["Sort order","Major area, region, country or area of destination"], 
                       var_name=["Year"],value_name="Refugees as a percentage of the international migrant stock")

In [152]:
# Glimpse the dataset
un6_rpims.head()

,Sort order,"Major area, region, country or area of destination",Year,Refugees as a percentage of the international migrant stock
0,1,WORLD,RPIMS 1990,12.346732
1,2,Developed regions,RPIMS 1990,2.445494
2,3,Developing regions,RPIMS 1990,23.968236
3,4,Least developed countries,RPIMS 1990,45.56588
4,5,Less developed regions excluding least develop...,RPIMS 1990,19.919743

In [153]:
# clean the value for Year by only keeping the number
un6_rpims['Year'] = un6_rpims['Year'].str[-4:]

In [154]:
# Glimpse the dataset
un6_rpims.head()

,Sort order,"Major area, region, country or area of destination",Year,Refugees as a percentage of the international migrant stock
0,1,WORLD,1990,12.346732
1,2,Developed regions,1990,2.445494
2,3,Developing regions,1990,23.968236
3,4,Least developed countries,1990,45.56588
4,5,Less developed regions excluding least develop...,1990,19.919743

In [155]:
# separate ARCRS out to create a new dataframe 
un6_arcrs = un6_sort.iloc[:,[0,1,17,18,19,20,21]]

In [156]:
# Glimpse the dataset
un6_arcrs.head()

,Sort order,"Major area, region, country or area of destination",ARCRS 1990-1995,ARCRS 1995-2000,ARCRS 2000-2005,ARCRS 2005-2010,ARCRS 2010-2015
0,1,WORLD,-2.123497,-3.837069,-5.557223,-0.025089,2.947267
1,2,Developed regions,9.388424,-5.983348,-7.277379,-5.323293,-2.087656
2,3,Developing regions,-2.839417,-2.332154,-4.561,0.285195,2.663652
3,4,Least developed countries,-0.680327,-7.531747,-4.541459,-4.187109,7.766031
4,5,Less developed regions excluding least develop...,-4.3836,0.632489,-4.319731,1.530456,1.571047

In [157]:
# Problem: ARCRS and its associated year range are variables but they are not stored in the columns
# Tidy data Principle 1: Each variable should have its own column.
# ARCRS and year should be stored in columns instead of in header

# store ARCRS its associated year as columns
un6_arcrs = un6_arcrs.melt(id_vars=["Sort order","Major area, region, country or area of destination"], 
                       var_name=["Year"],value_name="Annual rate of change of the refugee stock")

In [158]:
# clean the value for Year by only keeping the number
# To keep year consistent with ERS and RPIMS, year range for ARCRS rewrite as the latter year of the range. (e.g. 1990-1995 would be recorded as 1995)
un6_arcrs['Year'] = un6_arcrs['Year'].str[-4:]

In [159]:
# Glimpse the dataset
un6_arcrs.head()

,Sort order,"Major area, region, country or area of destination",Year,Annual rate of change of the refugee stock
0,1,WORLD,1995,-2.123497
1,2,Developed regions,1995,9.388424
2,3,Developing regions,1995,-2.839417
3,4,Least developed countries,1995,-0.680327
4,5,Less developed regions excluding least develop...,1995,-4.3836

In [160]:
# combine ERS, and RPIMS together
un6_comb = pd.merge(un6_ers, un6_rpims, on = ["Sort order", "Year"])

In [161]:
# Glimpse the dataset
un6_comb.head()

,Sort order,"Major area, region, country or area of destination_x",Notes,Country code,Type of data (a),Year,Estimated refugee stock at mid-year,"Major area, region, country or area of destination_y",Refugees as a percentage of the international migrant stock
0,1,WORLD,NaN,900,NaN,1990,18836571,WORLD,12.346732
1,2,Developed regions,(b),901,NaN,1990,2014564,Developed regions,2.445494
2,3,Developing regions,(c),902,NaN,1990,16822007,Developing regions,23.968236
3,4,Least developed countries,(d),941,NaN,1990,5048391,Least developed countries,45.56588
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,11773616,Less developed regions excluding least develop...,19.919743

In [162]:
# drop the duplicate columns: Major area, region, country or area of destination
un6_comb = un6_comb.drop(columns=['Major area, region, country or area of destination_y'])

In [163]:
# combine two merged table with ARCRS together and drop the duplicate destination column
un6_three = pd.merge(un6_comb, un6_arcrs, how = "outer", on = ["Sort order", "Year"]).drop(columns = "Major area, region, country or area of destination")

# Rename the location column
un6_three = un6_three.rename(columns={'Major area, region, country or area of destination_x': 'Major area, region, country or area of destination'})

In [164]:
# Glimpse the dataset
un6_three.head(20)

,Sort order,"Major area, region, country or area of destination",Notes,Country code,Type of data (a),Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,NaN,900,NaN,1990,18836571,12.346732,NaN
1,2,Developed regions,(b),901,NaN,1990,2014564,2.445494,NaN
2,3,Developing regions,(c),902,NaN,1990,16822007,23.968236,NaN
3,4,Least developed countries,(d),941,NaN,1990,5048391,45.56588,NaN
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990,11773616,19.919743,NaN
5,6,Sub-Saharan Africa,(e),947,NaN,1990,5516042,37.548824,NaN
6,7,Africa,NaN,903,NaN,1990,5687352,36.246821,NaN
7,8,Eastern Africa,NaN,910,NaN,1990,3168001,53.118453,NaN
8,9,Burundi,NaN,108,B R,1990,267929,80.43259,NaN
9,10,Comoros,NaN,174,B,1990,0,0,NaN
10,11,Djibouti,NaN,262,B R,1990,54508,44.597901,NaN
11,12,Eritrea,NaN,232,I,1990,0,0,NaN
12,13,Ethiopia,NaN,231,B R,1990,741965,64.21771,NaN
13,14,Kenya,NaN,404,B R,1990,13452,4.524844,NaN
14,15,Madagascar,NaN,450,C,1990,0,0,NaN
15,16,Malawi,NaN,454,B R,1990,874614,77.555679,NaN
16,17,Mauritius,(1),480,C,1990,0,0,NaN
17,18,Mayotte,NaN,175,B,1990,0,0,NaN
18,19,Mozambique,NaN,508,B R,1990,420,0.343328,NaN
19,20,RÃ©union,NaN,638,B,1990,0,0,NaN

In [165]:
# Since Notes,Type of data (a) do not provide any addition information about the observational unit, they are removed.
# Country code and Sord order or both identification variable, so remove Country code.
un6_three.drop(columns=['Notes','Type of data (a)','Country code'], inplace=True)

In [166]:
# Preview the dataset
un6_three.head(20)

,Sort order,"Major area, region, country or area of destination",Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,1990,18836571,12.346732,NaN
1,2,Developed regions,1990,2014564,2.445494,NaN
2,3,Developing regions,1990,16822007,23.968236,NaN
3,4,Least developed countries,1990,5048391,45.56588,NaN
4,5,Less developed regions excluding least develop...,1990,11773616,19.919743,NaN
5,6,Sub-Saharan Africa,1990,5516042,37.548824,NaN
6,7,Africa,1990,5687352,36.246821,NaN
7,8,Eastern Africa,1990,3168001,53.118453,NaN
8,9,Burundi,1990,267929,80.43259,NaN
9,10,Comoros,1990,0,0,NaN
10,11,Djibouti,1990,54508,44.597901,NaN
11,12,Eritrea,1990,0,0,NaN
12,13,Ethiopia,1990,741965,64.21771,NaN
13,14,Kenya,1990,13452,4.524844,NaN
14,15,Madagascar,1990,0,0,NaN
15,16,Malawi,1990,874614,77.555679,NaN
16,17,Mauritius,1990,0,0,NaN
17,18,Mayotte,1990,0,0,NaN
18,19,Mozambique,1990,420,0.343328,NaN
19,20,RÃ©union,1990,0,0,NaN

In [167]:
# All ERS, RPIMS, and ARCRS have missing values in forms of "..","0", or "NA"
# Replace the missing value with 0 to consistent with the variable typle
un6_three.replace(to_replace="..",
           value=0, inplace = True)
un6_three = un6_three.fillna(0)

In [168]:
# Preview the dataset
un6_three.head(20)

,Sort order,"Major area, region, country or area of destination",Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,1990,18836571,12.346732,0.0
1,2,Developed regions,1990,2014564,2.445494,0.0
2,3,Developing regions,1990,16822007,23.968236,0.0
3,4,Least developed countries,1990,5048391,45.565880,0.0
4,5,Less developed regions excluding least develop...,1990,11773616,19.919743,0.0
5,6,Sub-Saharan Africa,1990,5516042,37.548824,0.0
6,7,Africa,1990,5687352,36.246821,0.0
7,8,Eastern Africa,1990,3168001,53.118453,0.0
8,9,Burundi,1990,267929,80.432590,0.0
9,10,Comoros,1990,0,0.000000,0.0
10,11,Djibouti,1990,54508,44.597901,0.0
11,12,Eritrea,1990,0,0.000000,0.0
12,13,Ethiopia,1990,741965,64.217710,0.0
13,14,Kenya,1990,13452,4.524844,0.0
14,15,Madagascar,1990,0,0.000000,0.0
15,16,Malawi,1990,874614,77.555679,0.0
16,17,Mauritius,1990,0,0.000000,0.0
17,18,Mayotte,1990,0,0.000000,0.0
18,19,Mozambique,1990,420,0.343328,0.0
19,20,RÃ©union,1990,0,0.000000,0.0

### Separate the location columns

In [169]:
# Problem: In Major area, region, country or area of destination column, there are inclusive relationship between location -- some values are regions, whereas some are countries
# Violates the Tidydata Principle 1: Each column must have a unique variable.

# separate the area columns based on its size
# filter out Major area rows and save it as a new dataframe
un6_ma = un6_three.loc[un6_three["Major area, region, country or area of destination"].
                       isin(['Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America'])]
          

# Rename the area column as Major area
un6_ma = un6_ma.rename(columns={'Major area, region, country or area of destination': 'Major area'})

In [170]:
# Glimpse the dataset
un6_ma.head()

,Sort order,Major area,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
6,7,Africa,1990,5687352,36.246821,0.0
70,71,Asia,1990,9937007,20.640923,0.0
126,127,Europe,1990,1321884,2.685708,0.0
179,180,Latin America and the Caribbean,1990,1197198,16.697956,0.0
231,232,Northern America,1990,583450,2.113142,0.0

In [171]:
# Filter out region
# Northern America is indicated as one of the main region
un6_reg = un6_three.loc[un6_three["Major area, region, country or area of destination"].
                       isin(['Eastern Africa','Middle Africa', 'Northern Africa','Southern Africa','Western Africa', 
                              'Central Asia','Eastern Asia','South-Eastern Asia','Southern Asia','Western Asia',
                             'Eastern Europe','Northern Europe','Southern Europe', 'Western Europe',
                             'Caribbean','Central America','South America',
                             'Australia and New Zealand','Melanesia', 'Micronesia','Polynesia'
                              ])]

# Rename the are column as Region
un6_reg = un6_reg.rename(columns={'Major area, region, country or area of destination': 'Region'})

In [172]:
# Glimpse the dataset
un6_reg.head()

,Sort order,Region,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
7,8,Eastern Africa,1990,3168001,53.118453,0.0
28,29,Middle Africa,1990,446609,30.578557,0.0
38,39,Northern Africa,1990,1202360,50.031625,0.0
46,47,Southern Africa,1990,135525,9.733481,0.0
52,53,Western Africa,1990,734857,16.437904,0.0

In [173]:
# Filter out the country and other area
un6_coun = un6_three.loc[~un6_three["Major area, region, country or area of destination"].
                       isin(['WORLD', 
                             'Developed regions', 'Developing regions',
                             'Least developed countries','Less developed regions excluding least developed countries',
                             'Sub-Saharan Africa',
                             'Asia', 'Europe', 'Africa', 'Oceania', 'Latin America and the Caribbean', 'Northern America',
                             'Southern Asia', 'Southern Europe', 'Northern Africa', 'Polynesia',
                              'Middle Africa', 'Caribbean', 'South America', 'Western Asia',
                              'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
                              'Central America', 'Western Africa', 'Northern America', 'Southern Africa',
                              'South-Eastern Asia', 'Eastern Africa', 'Northern Europe', 'Eastern Asia',
                              'Melanesia', 'Micronesia', 'Central Asia'])]

# Rename the area column as Country or area
un6_coun = un6_coun.rename(columns={'Major area, region, country or area of destination': 'Country or area'})

In [174]:
# Glimpse the dataset
un6_coun.head()

,Sort order,Country or area,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
8,9,Burundi,1990,267929,80.432590,0.0
9,10,Comoros,1990,0,0.000000,0.0
10,11,Djibouti,1990,54508,44.597901,0.0
11,12,Eritrea,1990,0,0.000000,0.0
12,13,Ethiopia,1990,741965,64.217710,0.0

In [175]:
# filter out world row
un6_world = un6_three.loc[un6_three["Major area, region, country or area of destination"] == 'WORLD']

# Rename the world coumn as World
un6_world = un6_world.rename(columns={'Major area, region, country or area of destination': 'Total'})

In [176]:
# Glimpse the dataset
un6_world.head()

,Sort order,Total,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,1990,18836571,12.346732,0.000000
265,1,WORLD,1995,17853840,11.103013,-2.123497
530,1,WORLD,2000,15827803,9.164736,-3.837069
795,1,WORLD,2005,13276733,6.941389,-5.557223
1060,1,WORLD,2010,15370755,6.932687,-0.025089

In [177]:
# filter out developing and developed rows
un6_dev = un6_three.loc[un6_three["Major area, region, country or area of destination"].
                       isin(['Developed regions','Developing regions'])]

# Rename the coumn as nation
un6_dev = un6_dev.rename(columns={'Major area, region, country or area of destination': 'Nation'})

In [178]:
# Glimpse the dataset
un6_dev.head()

,Sort order,Nation,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
1,2,Developed regions,1990,2014564,2.445494,0.000000
2,3,Developing regions,1990,16822007,23.968236,0.000000
266,2,Developed regions,1995,3609670,3.910511,9.388424
267,3,Developing regions,1995,14244170,20.795958,-2.839417
531,2,Developed regions,2000,2997256,2.899391,-5.983348

In [179]:
# filter out two least developed groups under developing regions
un6_least = un6_three.loc[un6_three["Major area, region, country or area of destination"].
                       isin(['Least developed countries','Less developed regions excluding least developed countries'])]

# Rename the coumn as nation
un6_least = un6_least.rename(columns={'Major area, region, country or area of destination': 'Separation in developing regions'})

In [180]:
# Glimpse the dataset
un6_least.head()

,Sort order,Separation in developing regions,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
3,4,Least developed countries,1990,5048391,45.565880,0.000000
4,5,Less developed regions excluding least develop...,1990,11773616,19.919743,0.000000
268,4,Least developed countries,1995,5160131,44.041961,-0.680327
269,5,Less developed regions excluding least develop...,1995,9084039,15.999082,-4.383600
533,4,Least developed countries,2000,3047488,30.221557,-7.531747

In [181]:
# filter out Sub-Saharan Africa
un6_ssafrica = un6_three.loc[un6_three["Major area, region, country or area of destination"] == 'Sub-Saharan Africa']

# Rename the coumn as Other Africa
un6_ssafrica = un6_ssafrica.rename(columns={'Major area, region, country or area of destination': 'Separation in Africa'})

In [182]:
# Glimpse the dataset
un6_ssafrica.head()

,Sort order,Separation in Africa,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
5,6,Sub-Saharan Africa,1990,5516042,37.548824,0.000000
270,6,Sub-Saharan Africa,1995,5747830,37.507284,-0.022138
535,6,Sub-Saharan Africa,2000,3421165,24.941897,-8.159723
800,6,Sub-Saharan Africa,2005,2555099,18.314696,-6.176904
1065,6,Sub-Saharan Africa,2010,2215890,14.299050,-4.950214

In [183]:
# merge all dataframe
un6_fin = pd.concat([un6_world, un6_dev, un6_least, un6_ssafrica, un6_ma, un6_reg, un6_coun]).reset_index()

# arrange the order of columns
un6_fin = un6_fin[['Sort order', 
                   'Total',
                   'Nation',
                   'Separation in developing regions',
                   'Separation in Africa',
                   'Major area',
                   'Region',
                   'Country or area',
                    'Year',
                    'Estimated refugee stock at mid-year',
                   'Refugees as a percentage of the international migrant stock',
                   'Annual rate of change of the refugee stock'
                   ]]

In [184]:
# Glimpse the dataset
un6_fin.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,18836571,12.346732,0.000000
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,17853840,11.103013,-2.123497
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,15827803,9.164736,-3.837069
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,13276733,6.941389,-5.557223
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,15370755,6.932687,-0.025089
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,19577474,8.033424,2.947267
6,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,2014564,2.445494,0.000000
7,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1990,16822007,23.968236,0.000000
8,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1995,3609670,3.910511,9.388424
9,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1995,14244170,20.795958,-2.839417
10,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2000,2997256,2.899391,-5.983348
11,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2000,12830547,18.507035,-2.332154
12,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2005,2361229,2.015025,-7.277379
13,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2005,10915504,14.733162,-4.561000
14,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2010,2046917,1.544140,-5.323293
15,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2010,13323838,14.944759,0.285195
16,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2015,1954224,1.391085,-2.087656
17,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2015,17623250,17.073768,2.663652
18,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN,1990,5048391,45.565880,0.000000
19,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN,1990,11773616,19.919743,0.000000

In [185]:
# Problem: there are more than one oberservational unit in the same table
# The dataset contains the geographic locations and ERS, RPIMS, and ARCRS per year.
# Violate Tidydata principle 3: Each type of observational unit forms a table
# Separate the geographic location ERS, RPIMS, and ARCRS
# filter out the geographic location columns with sort order
un6_finLocation = un6_fin.filter(["Sort order",'Total',
                   'Nation','Separation in developing regions',
                   'Separation in Africa',"Major area",'Region',
                   'Country or area']).drop_duplicates('Sort order').reset_index(drop=True)

# filter out the ERS RPIMS, and ARCRS and the associated year.
un6_ERA_fin = un6_fin.filter(["Sort order", "Year","Estimated refugee stock at mid-year",
                              "Refugees as a percentage of the international migrant stock",
                              "Annual rate of change of the refugee stock"])
un6_ERA_fin = un6_ERA_fin.sort_values(by=['Sort order','Year']).reset_index(drop=True)

# view the dataset
un6_finLocation.head(15)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN

In [186]:
# Glimpse the dataset
un6_ERA_fin.head(20)

,Sort order,Year,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,1990,18836571,12.346732,0.000000
1,1,1995,17853840,11.103013,-2.123497
2,1,2000,15827803,9.164736,-3.837069
3,1,2005,13276733,6.941389,-5.557223
4,1,2010,15370755,6.932687,-0.025089
5,1,2015,19577474,8.033424,2.947267
6,2,1990,2014564,2.445494,0.000000
7,2,1995,3609670,3.910511,9.388424
8,2,2000,2997256,2.899391,-5.983348
9,2,2005,2361229,2.015025,-7.277379
10,2,2010,2046917,1.544140,-5.323293
11,2,2015,1954224,1.391085,-2.087656
12,3,1990,16822007,23.968236,0.000000
13,3,1995,14244170,20.795958,-2.839417
14,3,2000,12830547,18.507035,-2.332154
15,3,2005,10915504,14.733162,-4.561000
16,3,2010,13323838,14.944759,0.285195
17,3,2015,17623250,17.073768,2.663652
18,4,1990,5048391,45.565880,0.000000
19,4,1995,5160131,44.041961,-0.680327

## Merge same observational unit table

In [187]:
# Since all the location table (un1_finLocation to un6_finLocation, except for table 4) are the same, we can merge them into one as a single table
un_finLocation = pd.concat([un1_finLocation, un2_finLocation, un3_finLocation,un5_finLocation, un6_finLocation],
                          join ="inner")

# Remove the duplicate rows
Un_finLocation = un_finLocation.drop_duplicates()

In [188]:
# Glimpse the location dataset for all tables expect table 4.
Un_finLocation.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN
15,47,NaN,NaN,NaN,NaN,NaN,Southern Africa,NaN
16,53,NaN,NaN,NaN,NaN,NaN,Western Africa,NaN
17,72,NaN,NaN,NaN,NaN,NaN,Central Asia,NaN
18,78,NaN,NaN,NaN,NaN,NaN,Eastern Asia,NaN
19,86,NaN,NaN,NaN,NaN,NaN,South-Eastern Asia,NaN

In [189]:
# All Table 1, 2,3,5 have same types of observational unit: destination, year and sex
# By Tidy data principle 3: same type of observational unit should be in one table
# merge their year and sex table together
# By the destination table, we know all the tables have the same destination
un_12 = pd.merge(un1_IMS_fin, un2_TP_fin, how="left", on=["Sort order", "Year", "Sex"])
un_123 = pd.merge(un_12, un3_IMSP_fin,how="left", on=["Sort order", "Year", "Sex"])
un_1235 = pd.merge(un_123, un5_ARCMS_fin,how="left", on=["Sort order", "Year", "Sex"])

In [190]:
# Replace the missing value with 0
un_1235 = un_1235.fillna(0)

In [191]:
# Preview of combined dataset for Table 1,2,3,5
un_1235.head(20)

,Sort order,Year,Sex,International migrant stock at mid-year,Total population at mid-year (thousands),International migrant stock as a percentage of the total population,Annual rate of change of the migrant stock
0,1,1990,Both,152563212,5309667.699,2.873310,0.000000
1,1,1995,Both,160801752,5735123.084,2.803806,1.051865
2,1,2000,Both,172703309,6126622.121,2.818899,1.428058
3,1,2005,Both,191269100,6519635.850,2.933739,2.042124
4,1,2010,Both,221714243,6929725.043,3.199467,2.954160
5,1,2015,Both,243700236,7349472.099,3.315888,1.890991
6,1,1990,Female,74815702,2639243.998,2.834740,0.000000
7,1,1995,Female,79064275,2848487.191,2.775658,1.104667
8,1,2000,Female,84818470,3042084.459,2.788169,1.405044
9,1,2005,Female,93402426,3234553.601,2.887645,1.928080
10,1,2010,Female,107100529,3435768.139,3.117222,2.737012
11,1,2015,Female,117584801,3642266.346,3.228342,1.867837
12,1,1990,Male,77747510,2670423.701,2.911430,0.000000
13,1,1995,Male,81737477,2886635.893,2.831583,1.000922
14,1,2000,Male,87884839,3084537.662,2.849206,1.450294
15,1,2005,Male,97866674,3285082.249,2.979124,2.151575
16,1,2010,Male,114613714,3493956.904,3.280341,3.159228
17,1,2015,Male,126115435,3707205.753,3.401900,1.912603
18,2,1990,Both,82378628,1144463.062,7.198015,0.000000
19,2,1995,Both,92306854,1169761.211,7.891085,2.275847

In [192]:
# Both Table 4 and 6 have same types of observational unit: destination and year
# combine their year tables together as one
un_46 = pd.merge(un4_FMP_fin, un6_ERA_fin, how="left", on=["Sort order", "Year"])

# Glimpse the dataset
un_46.head(20)

,Sort order,Year,Female migrants as a percentage of the international migrant stock,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,1990,49.039150,18836571,12.346732,0.000000
1,1,1995,49.168790,17853840,11.103013,-2.123497
2,1,2000,49.112244,15827803,9.164736,-3.837069
3,1,2005,48.832993,13276733,6.941389,-5.557223
4,1,2010,48.305660,15370755,6.932687,-0.025089
5,1,2015,48.249769,19577474,8.033424,2.947267
6,2,1990,51.123977,2014564,2.445494,0.000000
7,2,1995,51.149024,3609670,3.910511,9.388424
8,2,2000,51.113307,2997256,2.899391,-5.983348
9,2,2005,51.171501,2361229,2.015025,-7.277379
10,2,2010,51.658932,2046917,1.544140,-5.323293
11,2,2015,51.866687,1954224,1.391085,-2.087656
12,3,1990,46.592099,16822007,23.968236,0.000000
13,3,1995,46.500135,14244170,20.795958,-2.839417
14,3,2000,46.128444,12830547,18.507035,-2.332154
15,3,2005,45.134297,10915504,14.733162,-4.561000
16,3,2010,43.319780,13323838,14.944759,0.285195
17,3,2015,43.327078,17623250,17.073768,2.663652
18,4,1990,47.261155,5048391,45.565880,0.000000
19,4,1995,47.571664,5160131,44.041961,-0.680327

## Overview of all dataset

In [193]:
# Location dataset for all tables except table 4
Un_finLocation.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN
4,5,NaN,NaN,Less developed regions excluding least develop...,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,Sub-Saharan Africa,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,Africa,NaN,NaN
7,71,NaN,NaN,NaN,NaN,Asia,NaN,NaN
8,127,NaN,NaN,NaN,NaN,Europe,NaN,NaN
9,180,NaN,NaN,NaN,NaN,Latin America and the Caribbean,NaN,NaN
10,232,NaN,NaN,NaN,NaN,Northern America,NaN,NaN
11,238,NaN,NaN,NaN,NaN,Oceania,NaN,NaN
12,8,NaN,NaN,NaN,NaN,NaN,Eastern Africa,NaN
13,29,NaN,NaN,NaN,NaN,NaN,Middle Africa,NaN
14,39,NaN,NaN,NaN,NaN,NaN,Northern Africa,NaN
15,47,NaN,NaN,NaN,NaN,NaN,Southern Africa,NaN
16,53,NaN,NaN,NaN,NaN,NaN,Western Africa,NaN
17,72,NaN,NaN,NaN,NaN,NaN,Central Asia,NaN
18,78,NaN,NaN,NaN,NaN,NaN,Eastern Asia,NaN
19,86,NaN,NaN,NaN,NaN,NaN,South-Eastern Asia,NaN

In [194]:
# Glimpse the dataset for IMS, TP, IMSP, ARCMS -- Table 1,2,3,5
un_1235.head(20)

,Sort order,Year,Sex,International migrant stock at mid-year,Total population at mid-year (thousands),International migrant stock as a percentage of the total population,Annual rate of change of the migrant stock
0,1,1990,Both,152563212,5309667.699,2.873310,0.000000
1,1,1995,Both,160801752,5735123.084,2.803806,1.051865
2,1,2000,Both,172703309,6126622.121,2.818899,1.428058
3,1,2005,Both,191269100,6519635.850,2.933739,2.042124
4,1,2010,Both,221714243,6929725.043,3.199467,2.954160
5,1,2015,Both,243700236,7349472.099,3.315888,1.890991
6,1,1990,Female,74815702,2639243.998,2.834740,0.000000
7,1,1995,Female,79064275,2848487.191,2.775658,1.104667
8,1,2000,Female,84818470,3042084.459,2.788169,1.405044
9,1,2005,Female,93402426,3234553.601,2.887645,1.928080
10,1,2010,Female,107100529,3435768.139,3.117222,2.737012
11,1,2015,Female,117584801,3642266.346,3.228342,1.867837
12,1,1990,Male,77747510,2670423.701,2.911430,0.000000
13,1,1995,Male,81737477,2886635.893,2.831583,1.000922
14,1,2000,Male,87884839,3084537.662,2.849206,1.450294
15,1,2005,Male,97866674,3285082.249,2.979124,2.151575
16,1,2010,Male,114613714,3493956.904,3.280341,3.159228
17,1,2015,Male,126115435,3707205.753,3.401900,1.912603
18,2,1990,Both,82378628,1144463.062,7.198015,0.000000
19,2,1995,Both,92306854,1169761.211,7.891085,2.275847

In [195]:
# Glimpse the dataset of FMP, ERA, RPIMS, ARCRS  -- Table 4,6
un_46.head(20)

,Sort order,Year,Female migrants as a percentage of the international migrant stock,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,1990,49.039150,18836571,12.346732,0.000000
1,1,1995,49.168790,17853840,11.103013,-2.123497
2,1,2000,49.112244,15827803,9.164736,-3.837069
3,1,2005,48.832993,13276733,6.941389,-5.557223
4,1,2010,48.305660,15370755,6.932687,-0.025089
5,1,2015,48.249769,19577474,8.033424,2.947267
6,2,1990,51.123977,2014564,2.445494,0.000000
7,2,1995,51.149024,3609670,3.910511,9.388424
8,2,2000,51.113307,2997256,2.899391,-5.983348
9,2,2005,51.171501,2361229,2.015025,-7.277379
10,2,2010,51.658932,2046917,1.544140,-5.323293
11,2,2015,51.866687,1954224,1.391085,-2.087656
12,3,1990,46.592099,16822007,23.968236,0.000000
13,3,1995,46.500135,14244170,20.795958,-2.839417
14,3,2000,46.128444,12830547,18.507035,-2.332154
15,3,2005,45.134297,10915504,14.733162,-4.561000
16,3,2010,43.319780,13323838,14.944759,0.285195
17,3,2015,43.327078,17623250,17.073768,2.663652
18,4,1990,47.261155,5048391,45.565880,0.000000
19,4,1995,47.571664,5160131,44.041961,-0.680327

---

# Final Section
The plots may not able to display on Github, but can be seen on google colab platform.
##### https://colab.research.google.com/drive/1l_XpGTm7mItenh6x55717ZJK3LNoFmYD?usp=sharing

In [196]:
# Load the packages and libraries
from datascience import *
import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

## 1. Visualizations for International Migrant Stock

In [197]:
# Merge location table and un_1235 to plot the graphs.
uncomb_1235 = pd.merge(Un_finLocation, un_1235, how = 'right', on='Sort order')
uncomb_1235.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Sex,International migrant stock at mid-year,Total population at mid-year (thousands),International migrant stock as a percentage of the total population,Annual rate of change of the migrant stock
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Both,152563212,5309667.699,2.873310,0.000000
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Both,160801752,5735123.084,2.803806,1.051865
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Both,172703309,6126622.121,2.818899,1.428058
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Both,191269100,6519635.850,2.933739,2.042124
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Both,221714243,6929725.043,3.199467,2.954160
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Both,243700236,7349472.099,3.315888,1.890991
6,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Female,74815702,2639243.998,2.834740,0.000000
7,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Female,79064275,2848487.191,2.775658,1.104667
8,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Female,84818470,3042084.459,2.788169,1.405044
9,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Female,93402426,3234553.601,2.887645,1.928080
10,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Female,107100529,3435768.139,3.117222,2.737012
11,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Female,117584801,3642266.346,3.228342,1.867837
12,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,Male,77747510,2670423.701,2.911430,0.000000
13,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,Male,81737477,2886635.893,2.831583,1.000922
14,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,Male,87884839,3084537.662,2.849206,1.450294
15,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,Male,97866674,3285082.249,2.979124,2.151575
16,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,Male,114613714,3493956.904,3.280341,3.159228
17,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,Male,126115435,3707205.753,3.401900,1.912603
18,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,Both,82378628,1144463.062,7.198015,0.000000
19,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1995,Both,92306854,1169761.211,7.891085,2.275847

In [198]:
# filter out the world rows
un1235_world = uncomb_1235.iloc[0:18]
# Sort the imigrant number in descending order
un1235_world.sort_values(by = "International migrant stock at mid-year", ascending=False)
# drop other location columns
un1235_worlddrop = un1235_world.drop(un1235_world.columns[[2,3,4,5,6,7]],axis = 1)
un1235_worlddrop.head(20)

,Sort order,Total,Year,Sex,International migrant stock at mid-year,Total population at mid-year (thousands),International migrant stock as a percentage of the total population,Annual rate of change of the migrant stock
0,1,WORLD,1990,Both,152563212,5309667.699,2.873310,0.000000
1,1,WORLD,1995,Both,160801752,5735123.084,2.803806,1.051865
2,1,WORLD,2000,Both,172703309,6126622.121,2.818899,1.428058
3,1,WORLD,2005,Both,191269100,6519635.850,2.933739,2.042124
4,1,WORLD,2010,Both,221714243,6929725.043,3.199467,2.954160
5,1,WORLD,2015,Both,243700236,7349472.099,3.315888,1.890991
6,1,WORLD,1990,Female,74815702,2639243.998,2.834740,0.000000
7,1,WORLD,1995,Female,79064275,2848487.191,2.775658,1.104667
8,1,WORLD,2000,Female,84818470,3042084.459,2.788169,1.405044
9,1,WORLD,2005,Female,93402426,3234553.601,2.887645,1.928080
10,1,WORLD,2010,Female,107100529,3435768.139,3.117222,2.737012
11,1,WORLD,2015,Female,117584801,3642266.346,3.228342,1.867837
12,1,WORLD,1990,Male,77747510,2670423.701,2.911430,0.000000
13,1,WORLD,1995,Male,81737477,2886635.893,2.831583,1.000922
14,1,WORLD,2000,Male,87884839,3084537.662,2.849206,1.450294
15,1,WORLD,2005,Male,97866674,3285082.249,2.979124,2.151575
16,1,WORLD,2010,Male,114613714,3493956.904,3.280341,3.159228
17,1,WORLD,2015,Male,126115435,3707205.753,3.401900,1.912603

In [199]:
# Create boxplot to visualize the summary statistics of the World data
fig = px.box(un1235_worlddrop, x="Total", y="International migrant stock at mid-year", color = "Sex",
             width=600, height=600,
             color_discrete_sequence = ['#003F5C', '#86BCB6', '#B9CA5D'])
# Set the title in bold
fig.update_layout(title='<b>Boxplot of global international migrant stock growth</b>',
                  xaxis_title = ""
                  )
# move y-axis position
fig.update_yaxes(
        title_standoff = 25)

fig.show()

In [200]:
# Bar plot to visualize the IMS growth in different genders within 6 years.
fig = px.bar(un1235_world, x='Year', y='International migrant stock at mid-year',
             color = "Sex",barmode='group',
             color_discrete_sequence= ['#003F5C', '#86BCB6', '#B9CA5D'],
             width=600, height=600)
# Set the title in bold
fig.update_layout(title='<b>Distribution of Global International migrant stock growth</b>')
# move y-axis position
fig.update_yaxes(title_standoff = 25)

# Show plot
fig.show()

In [201]:
# filter out the dev regions rows
un1235_dev = uncomb_1235.iloc[18:54]
# Sort the imigrant number in descending order
un1235_dev.sort_values(by = ["Nation","International migrant stock at mid-year"], ascending=False)
# drop other location columns
un1235_devdrop = un1235_dev.drop(un1235_dev.columns[[1,3,4,5,6,7]],axis = 1)
un1235_devdrop.head(20)

,Sort order,Nation,Year,Sex,International migrant stock at mid-year,Total population at mid-year (thousands),International migrant stock as a percentage of the total population,Annual rate of change of the migrant stock
18,2,Developed regions,1990,Both,82378628,1144463.062,7.198015,0.000000
19,2,Developed regions,1995,Both,92306854,1169761.211,7.891085,2.275847
20,2,Developed regions,2000,Both,103375363,1188811.731,8.695688,2.264965
21,2,Developed regions,2005,Both,117181109,1208919.509,9.693045,2.507080
22,2,Developed regions,2010,Both,132560325,1233375.711,10.747765,2.466343
23,2,Developed regions,2015,Both,140481955,1251351.086,11.226422,1.160824
24,2,Developed regions,1990,Female,42115231,589207.436,7.147777,0.000000
25,2,Developed regions,1995,Female,47214055,601492.755,7.849480,2.285643
26,2,Developed regions,2000,Female,52838567,610801.513,8.650694,2.250995
27,2,Developed regions,2005,Female,59963332,620957.296,9.656595,2.529838
28,2,Developed regions,2010,Female,68479248,633420.235,10.811029,2.655950
29,2,Developed regions,2015,Female,72863336,642053.938,11.348476,1.241097
30,2,Developed regions,1990,Male,40263397,555255.626,7.251326,0.000000
31,2,Developed regions,1995,Male,45092799,568268.456,7.935123,2.265595
32,2,Developed regions,2000,Male,50536796,578010.218,8.743236,2.279583
33,2,Developed regions,2005,Male,57217777,587962.213,9.731540,2.483259
34,2,Developed regions,2010,Male,64081077,599955.476,10.680972,2.265689
35,2,Developed regions,2015,Male,67618619,609297.148,11.097807,1.074685
36,3,Developing regions,1990,Both,70184584,4165204.637,1.685021,0.000000
37,3,Developing regions,1995,Both,68494898,4565361.873,1.500317,-0.487389

In [202]:
# bar plot for developing and develped regions
dev = px.bar(un1235_devdrop, x = "Year", y = "International migrant stock at mid-year",
             color = "Sex", barmode = "group", facet_col = "Nation",
             color_discrete_sequence= ['#003F5C', '#86BCB6', '#B9CA5D'])
# Set the title in bold
dev.update_layout(title='<b>Distribution of international migrant stock in developing and developed regions</b>')
# change the name of each subplots
dev.for_each_annotation(lambda a: a.update(text=a.text.replace("Nation=", "")))
# move y-axis position
dev.update_yaxes(title_standoff = 25)

dev.show()

In [203]:
# filter out the major area rows
un1235_ma = uncomb_1235[uncomb_1235["Major area"].notna()]
# Sort the imigrant number in descending order
un1235_masort = un1235_ma.sort_values(by = ["Major area","International migrant stock at mid-year"], ascending=False)
# drop other location columns
un1235_madrop = un1235_ma.drop(un1235_ma.columns[[1,2,3,4,6,7]],axis = 1)
un1235_madrop.head()

,Sort order,Major area,Year,Sex,International migrant stock at mid-year,Total population at mid-year (thousands),International migrant stock as a percentage of the total population,Annual rate of change of the migrant stock
108,7,Africa,1990,Both,15690623,631614.304,2.484210,0.000000
109,7,Africa,1995,Both,16352814,720416.386,2.269911,0.826734
110,7,Africa,2000,Both,14800306,814063.149,1.818078,-1.995043
111,7,Africa,2005,Both,15191146,920238.945,1.650783,0.521298
112,7,Africa,2010,Both,16840014,1044106.862,1.612863,2.060902

In [204]:
# bar plot for detail in major area
dev = px.bar(un1235_madrop, x = "Year", y = "International migrant stock at mid-year",
             color = "Sex", barmode = "group", facet_col = "Major area",
             facet_col_wrap = 3,
             facet_row_spacing = 0.15,
             color_discrete_sequence= ['#003F5C', '#86BCB6', '#B9CA5D'],
             labels={'International migrant stock at mid-year':'International migrant stock'})

# Set the title in bold
dev.update_layout(title='<b>Distribution of international migrant stock in major area</b>')
# change the name of each subplots
dev.for_each_annotation(lambda a: a.update(text=a.text.replace("Major area=", "")))
# move y-axis position
dev.update_yaxes(title_standoff = 25)

# show plots
dev.show()

## 2. Total Population at mid-year

In [205]:
# Create boxplot to visualize the summary statistics of the World data
fig = px.box(un1235_worlddrop, x="Total", y="Total population at mid-year (thousands)", color = "Sex",
             width=600, height=600,
             color_discrete_sequence = ['#003F5C', '#86BCB6', '#B9CA5D'])
# Set the title in bold
fig.update_layout(title='<b>Boxplot of global population growth</b>',
                  xaxis_title = ""
                  )
# move y-axis position
dev.update_yaxes(title_standoff = 25)

fig.show()

In [206]:
# Bar plot to visualize the population growth in different genders within 6 years.
fig = px.bar(un1235_world, x='Year', y='Total population at mid-year (thousands)',
             color = "Sex",barmode='group',
             color_discrete_sequence= ['#003F5C', '#86BCB6', '#B9CA5D'],
             width=600, height=600)
# Set the title in bold
fig.update_layout(title='<b>Distribution of Global total population growth</b>')
# Show plot
fig.show()

In [207]:
# Create line to visualize the trend of population growth in continents
fig = px.line(un1235_madrop, x="Year", y="Total population at mid-year (thousands)", color = "Sex",
             facet_row="Major area",
              facet_col = "Sex",
              facet_row_spacing = 0.05,
              facet_col_spacing = 0.05,
              width=600, height=800,
             color_discrete_sequence = ['#003F5C', '#86BCB6', '#B9CA5D'],
              labels = {'Total population at mid-year (thousands)':'Population'})
# Set the title in bold
fig.update_layout(title='<b>Trend for population growth in major areas</b>'
                  )
# rotate xaxis label
fig.update_xaxes(tickangle=40,
                title_standoff = 20)
# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Major area=", "")))
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Sex=", "")))

fig.show()

## 3. International migrant stock as a percentage of population

In [208]:
# Create boxplot to visualize the summary statistics of the World data
fig = px.box(un1235_worlddrop, x="Total", y="International migrant stock as a percentage of the total population", 
             color = "Sex",
             width=600, height=600,
             color_discrete_sequence = ['#003F5C', '#86BCB6', '#B9CA5D'])

# Set the title in bold and adjust its position
fig.update_layout(title={'text': '<b>Boxplot of Global International Migrant Stock as Percentage</b>',
                         'y':0.95,
                         'x':0.5,
                         'xanchor': 'center',
                         'yanchor': 'top'},
                  xaxis_title = "",
                  yaxis_title = "Percentage of international migrant stock"
                  )


# Change Y-axis range
fig.update_yaxes(range=[2, 4])

fig.show()

In [209]:
# Bar plot to visualize the population growth in different genders within 6 years.
fig = px.bar(un1235_world, x='Year', y='International migrant stock as a percentage of the total population',
             color = "Sex",barmode='group',
             color_discrete_sequence= ['#003F5C', '#86BCB6', '#B9CA5D'],
             width=600, height=600)
# Set the title in bold
fig.update_layout(title='<b>Distribution of Percentage of Global International Migrant</b>',
                  yaxis_title = "Percentage of international migrant stock")
# Show plot
fig.show()

In [210]:
# scatterplot of IMS vs. PIMS with population
fig = px.scatter(un1235_madrop, x='International migrant stock at mid-year', 
                 y='International migrant stock as a percentage of the total population',
                 color='Major area', size='Total population at mid-year (thousands)',
                facet_row='Year',facet_col = 'Sex',
                 labels= {'International migrant stock at mid-year':'Internation Migrant Stock',
                          'International migrant stock as a percentage of the total population': ''})

# Set the title in bold
fig.update_layout(title='<b>Scatter plot of international migrant stock vs. percentage of migrant stock</b>')
# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Year=", "")))
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Sex=", "")))

# Only show 1 y axis label for all rows.
fig.add_annotation(text="Percentage of international migrant",
    xref="paper",
    yref="paper",
    x = -0.06,
    xanchor="left",
    yanchor="middle",
    textangle=-90,
    showarrow=False,
    font= {'size': 15})


fig.show()

## 4. Annual Rate of Change of the migrant stock

In [211]:
# Remove 1990 from dataset for annual rate of change.
un1235_worldar = un1235_worlddrop[un1235_worlddrop["Year"] != "1990"]

In [212]:
# Create boxplot to visualize the summary statistics of the World data
fig = px.box(un1235_worldar, x="Total", y="Annual rate of change of the migrant stock", 
             color = "Sex",
             width=600, height=600,
             color_discrete_sequence = ['#003F5C', '#86BCB6', '#B9CA5D'],)
# Set the title in bold and adjust its position
fig.update_layout(title={'text': '<b>Boxplot of Global Annual Rate of change of Migrant Stock</b>',
                         'y':0.95,
                         'x':0.5,
                         'xanchor': 'center',
                         'yanchor': 'top'},
                  xaxis_title = "",
                  yaxis_title = "Annual Rate of Change of Migrant Stock"
                  )


# Change Y-axis range
fig.update_yaxes(range=[0, 5])

fig.show()

In [213]:
# Bar plot to visualize the population growth in different genders within 6 years.
fig = px.bar(un1235_worldar, x='Year', y='Annual rate of change of the migrant stock',
             color = "Sex",barmode='group',
             color_discrete_sequence= ['#003F5C', '#86BCB6', '#B9CA5D'],
             width=600, height=600)
# Set the title in bold
fig.update_layout(title='<b>Distribution of Global Annual Rate of Change of Migrant</b>',
                  yaxis_title = "Annual rate of change of the migrant stock")
# Show plot
fig.show()

In [214]:
# remove 1990 row for major area dataset
un1235_maar = un1235_madrop[un1235_madrop["Year"] != "1990"]

In [229]:
# scatterplot of IMS vs. PIMS with population
fig = px.scatter(un1235_maar, x='Annual rate of change of the migrant stock', 
                 y='International migrant stock as a percentage of the total population',
                 color='Major area', size='Total population at mid-year (thousands)',
                facet_row='Year',facet_col = 'Sex',
                 labels= {'International migrant stock as a percentage of the total population':'',
                          'Annual rate of change of the migrant stock':''})

# Set the title in bold
fig.update_layout(title='<b>Scatter plot of annual rate of change of migrant stock vs. percentage of migrant stock</b>')
# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Year=", "")))
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Sex=", "")))

# Only show 1 y axis label for all rows.
fig.add_annotation(text="Percentage of Migrant Stock",
    xref="paper",
    yref="paper",
    x = -0.1,
    xanchor="left",
    yanchor="middle",
    textangle=-90,
    showarrow=False,
    font= {'size': 15})

# Only show 1 x axis label for all columns.
fig.add_annotation(text="Annual rate of change of the migrant stock",
    xref="paper",
    yref="paper",
    y = -0.1,
    showarrow=False,
    font= {'size': 15})

fig.show()

## 5. Percentage of Female migrants

In [216]:
# Merge location table and un_46 to plot the graphs.
uncomb_46 = pd.merge(Un_finLocation, un_46, how = 'right', on='Sort order')
uncomb_46.head(20)

,Sort order,Total,Nation,Separation in developing regions,Separation in Africa,Major area,Region,Country or area,Year,Female migrants as a percentage of the international migrant stock,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1990,49.039150,18836571,12.346732,0.000000
1,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,1995,49.168790,17853840,11.103013,-2.123497
2,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2000,49.112244,15827803,9.164736,-3.837069
3,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2005,48.832993,13276733,6.941389,-5.557223
4,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2010,48.305660,15370755,6.932687,-0.025089
5,1,WORLD,NaN,NaN,NaN,NaN,NaN,NaN,2015,48.249769,19577474,8.033424,2.947267
6,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1990,51.123977,2014564,2.445494,0.000000
7,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,1995,51.149024,3609670,3.910511,9.388424
8,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2000,51.113307,2997256,2.899391,-5.983348
9,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2005,51.171501,2361229,2.015025,-7.277379
10,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2010,51.658932,2046917,1.544140,-5.323293
11,2,NaN,Developed regions,NaN,NaN,NaN,NaN,NaN,2015,51.866687,1954224,1.391085,-2.087656
12,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1990,46.592099,16822007,23.968236,0.000000
13,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,1995,46.500135,14244170,20.795958,-2.839417
14,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2000,46.128444,12830547,18.507035,-2.332154
15,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2005,45.134297,10915504,14.733162,-4.561000
16,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2010,43.319780,13323838,14.944759,0.285195
17,3,NaN,Developing regions,NaN,NaN,NaN,NaN,NaN,2015,43.327078,17623250,17.073768,2.663652
18,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN,1990,47.261155,5048391,45.565880,0.000000
19,4,NaN,NaN,Least developed countries,NaN,NaN,NaN,NaN,1995,47.571664,5160131,44.041961,-0.680327

In [217]:
# filter out the world rows
un46_world = uncomb_46[uncomb_46["Total"].notna()]
# Sort the imigrant number in descending order
un46_world.sort_values(by = "Female migrants as a percentage of the international migrant stock", ascending=False)
# drop other location columns
un46_worlddrop = un46_world.drop(un46_world.columns[[2,3,4,5,6,7]],axis = 1)
un46_worlddrop.head()

,Sort order,Total,Year,Female migrants as a percentage of the international migrant stock,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
0,1,WORLD,1990,49.039150,18836571,12.346732,0.000000
1,1,WORLD,1995,49.168790,17853840,11.103013,-2.123497
2,1,WORLD,2000,49.112244,15827803,9.164736,-3.837069
3,1,WORLD,2005,48.832993,13276733,6.941389,-5.557223
4,1,WORLD,2010,48.305660,15370755,6.932687,-0.025089

In [218]:
# Create boxplot to visualize the summary statistics of the World data
fig = px.box(un46_worlddrop, x="Total", y="Female migrants as a percentage of the international migrant stock",
             width = 600, height = 600
             )

# Set the title in bold and adjust its position
fig.update_layout(title={'text': '<b>Boxplot of Percentage of Global Female Migrant Stock</b>',
                         'y':0.95,
                         'x':0.5,
                         'xanchor': 'center',
                         'yanchor': 'top'},
                  xaxis_title = "",
                  yaxis_title = "Percentage of female migrant stock"
                  )


# Show the graph
fig.show()

In [219]:
# filter out the continent rows
un46_ma = uncomb_46[uncomb_46["Major area"].notna()]
# Sort the imigrant number in descending order
un46_ma.sort_values(by = "Female migrants as a percentage of the international migrant stock", ascending=False)
# drop other location columns
un46_madrop = un46_ma.drop(un46_ma.columns[[1,3,4,2,6,7]],axis = 1)
un46_madrop.head(20)

,Sort order,Major area,Year,Female migrants as a percentage of the international migrant stock,Estimated refugee stock at mid-year,Refugees as a percentage of the international migrant stock,Annual rate of change of the refugee stock
36,7,Africa,1990,47.232408,5687352,36.246821,0.000000
37,7,Africa,1995,47.306127,5949953,36.384888,0.076037
38,7,Africa,2000,46.917598,3609138,24.385563,-8.003244
39,7,Africa,2005,45.814246,2750644,18.106889,-5.953976
40,7,Africa,2010,46.322408,2413917,14.334412,-4.672588
41,7,Africa,2015,46.132389,4022363,19.479173,6.133656
420,71,Asia,1990,45.968730,9937007,20.640923,0.000000
421,71,Asia,1995,45.867921,7937682,17.052599,-3.819461
422,71,Asia,2000,45.585271,9175210,18.595579,1.732425
423,71,Asia,2005,44.567074,8109615,15.194733,-4.039500
424,71,Asia,2010,42.038178,10532033,15.978369,1.005740
425,71,Asia,2015,41.995520,13214240,17.599949,1.933203
756,127,Europe,1990,51.346887,1321884,2.685708,0.000000
757,127,Europe,1995,51.486537,2746090,5.196729,13.201700
758,127,Europe,2000,51.599165,2283959,4.058792,-4.942878
759,127,Europe,2005,51.750418,1760748,2.747442,-7.804308
760,127,Europe,2010,52.088519,1586396,2.191919,-4.517854
761,127,Europe,2015,52.364355,1478315,1.941423,-2.427125
1074,180,Latin America and the Caribbean,1990,49.830217,1197198,16.697956,0.000000
1075,180,Latin America and the Caribbean,1995,49.963418,352256,5.261762,-23.096408

In [220]:
# Create line to visualize the trend of female migrant stock growth in continents
fig = px.line(un46_madrop, x="Year", y="Female migrants as a percentage of the international migrant stock",
             facet_col="Major area", facet_col_wrap=3,
              facet_row_spacing = 0.05,
              facet_col_spacing = 0.05,
              width=700, height=800,
              labels = {'Female migrants as a percentage of the international migrant stock':'Percentage of female migrant stock'})
# Set the title in bold
fig.update_layout(title='<b>Trend for female migrant stock growth in continents</b>'
                  )
# rotate xaxis label
fig.update_xaxes(tickangle=40,
                title_standoff = 20)
# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Major area=", "")))

# Show the graph
fig.show()

## 6. Estimated refugee stock at mid-year

In [221]:
# Create boxplot to visualize the summary statistics of the World data
fig = px.box(un46_worlddrop, x="Total", y="Estimated refugee stock at mid-year",
             width = 600, height = 600
             )

# Set the title in bold and adjust its position
fig.update_layout(title={'text': '<b>Boxplot of estimated refugee stock</b>',
                         'y':0.95,
                         'x':0.5,
                         'xanchor': 'center',
                         'yanchor': 'top'},
                  xaxis_title = "",
                  yaxis_title = "Estimated refugee stock"
                  )
# change box colour
fig.update_traces(marker_color='#A04FC3')

# Show the graph 
fig.show()

In [222]:
# Bar plot to visualize the global refugee stock growth within 6 years.
fig = px.bar(un46_worlddrop, x='Year', y='Estimated refugee stock at mid-year',
             width=400, height=500)
# Set the title in bold
fig.update_layout(title='<b>Distribution of Global Refugee Stock</b>',
                  yaxis_title = "Estimated refugee stock")
# change bar colour
fig.update_traces(marker_color='#A04FC3')

# Show plot
fig.show()

In [231]:
# Bar plot to visualize the growth of refugees stock within 6 years.
fig = px.bar(un46_madrop, x='Year', y='Estimated refugee stock at mid-year',
             facet_col="Major area",
             facet_col_wrap=3,
             
             width=600, height=600)
# Set the title in bold
fig.update_layout(title='<b>Distribution of Refugees Stock in Continents </b>',
                  yaxis_title = "Refugee stock")

# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Major area=", "")))
# change bar colour
fig.update_traces(marker_color='#A04FC3')

# Show plot
fig.show()

## 7. Refugees as a percentage of the international migrant stock

In [227]:
# Create line to visualize the trend of percentage of regugee growth in continents
fig = px.line(un46_madrop, x="Year", y="Refugees as a percentage of the international migrant stock",
             facet_col="Major area", facet_col_wrap=3,
              facet_row_spacing = 0.05,
              facet_col_spacing = 0.05,
              width=700, height=800,
              labels = {'Refugees as a percentage of the international migrant stock':'Percentage of refugee stock'})
# Set the title in bold
fig.update_layout(title='<b>Trend for Percentage of Refugee stock growth in continents</b>'
                  )
# rotate xaxis label
fig.update_xaxes(tickangle=40,
                title_standoff = 20)
# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Major area=", "")))
# change bar colour
fig.update_traces(line_color='#ffaf6d', line_width=5)


fig.show()

## 8. Annual rate of change of the refugee stock

In [225]:
# remove 1990 row for major area dataset
un46_maar = un46_madrop[un46_madrop["Year"] != "1990"]

In [230]:
# Create line to visualize the trend of percentage of regugee growth in continents
fig = px.line(un46_maar, x="Year", y="Annual rate of change of the refugee stock",
             facet_col="Major area", facet_col_wrap=3,
              facet_row_spacing = 0.05,
              facet_col_spacing = 0.05,
              width=700, height=800,
              labels = {'Annual rate of change of the refugee stock':' '})
# Set the title in bold
fig.update_layout(title='<b>Trend for Annual Rate of Change of Refugee Stock growth in continents</b>'
                  )
# rotate xaxis label
fig.update_xaxes(tickangle=40,
                title_standoff = 20)
# change the name of each subplots
fig.for_each_annotation(lambda a: a.update(text=a.text.replace("Major area=", "")))
# change line colour
fig.update_traces(line_color='#abb062', line_width=5)
# Only show 1 y axis label for all rows.
fig.add_annotation(text="Annual Rate of Change of Refugee stock",
    xref="paper",
    yref="paper",
    x = -0.1,
    xanchor="left",
    yanchor="middle",
    textangle=-90,
    showarrow=False,
    font= {'size': 15})

fig.show()